<footer class="footer" id="footer">
    <section class="footer--section">
      <div class="footer--div">
        <div class="footer--logo">
          <img class="logo--footer" src="/images/logo.svg" alt="">
        <div class="footer__barra--lista">
          <h2>Seguinos</h2>
          <h2>Contactos</h2>
          <h2>Métodos de pago</h2>
        </div>
      <div class="footer__section--div">
      <div class="footer--redes">
        <ul class="lista--redsocial">
        <li><a href=""><img src="/images/facebook 1.svg" alt="facebook"><spa class="span" >@TechMaster</spa></a></li>
        <li><a href=""><img src="/images/instagram 1.svg" alt="instagram"><span class="span" >@TechMaster</span></a></li>
        <li><a href=""><img src="/images/twitter 1.svg" alt="twitter"><span class="span" >@TechMaster</span></a></li>
      </ul>
      </div>
    <div class="footer--contactos">
      <ul class="lista--contactos">
      <li><a href=""><img src="/images/whatsapp 1.svg" alt="whatsapp"><span class="span" >+12 123 1234567</span></a></li>
      <li><a href=""><img src="/images/Ubicacion.svg" alt="Ubicacion"><span class="span" >Calle Falsa 123</span></a></li>
      <li><a href=""><img src="/images/Correo.svg" alt="Correo"><span class="span" >TechMaster@gmail.com</span></a></li>
    </ul>
    </div>
    <div class="footer--metodosDePago">
      <img src="/images/Mastercard.png" alt="">
      <img src="/images/Visa.png" alt="">
      <img src="/images/RapiPago.png" alt="">
      <img src="/images/PayPal.png" alt="">
      <img src="/images/Naranja.png" alt="">
      <img src="/images/MercadoPago.png" alt="">
    </div>
  </div>
    </section>

  </footer>