*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.boby__view__carrito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main--carrito{
    padding: 5px;
    background-color: rgba(28, 28, 28, 1);
    height: 100%;
}
.main_h1--titulo{
    color: white;
    margin:0vw 2vw 2vw 2vw;
    font-size: 25px;
}
.main_article--producto{
    margin:2vw;
    background: linear-gradient(#390b25, #523848);
    width: 95%;
    display: flex;
}
.main_article_img--imagen{
    width: 35%;
    height: 81%;
    padding: 10px;
}

.main_article_div--etiqueta{
    color:white;
    font-size: 18px;
    padding: 10px;
    width: 94%;
    display: flex;
    flex-direction: column;
}
.main_article_div_h1--nombre{
    border-bottom: 1px white solid;
    font-size: 1rem;
}
.main_article_div_h2--precio{
    font-size: 1rem;
    align-self: flex-end;
}

.main_article_div--botones{
    font-size: 0.6rem;
    margin: auto 0;
    display: flex;
    gap: 2vw;
}

.main_article_div--botones button{
    background-color: rgb(255 255 255);
    border-style: none;
    padding: 5px;
    border-radius: 5px;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.main_article_div_input--cantidad{
    width: 3vw;
}
.main_article_div_div--cantidad{
    display: flex;
    justify-content: center;
}
.main_article--total{
    margin:2vw;
    background: linear-gradient(#390b25, #523848);
    width: 95%;
    /* height: 100px; */
    display: flex;
    max-width: 500px;
}
.main_article_div--factura{
    color:white;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
}

.main_article_div--comprar{
    display: flex;
    align-self: flex-end;
    margin: auto 0;
    padding-top: 10px;
}

.main__section--carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_article_div_h3--Oferta{
    display: flex;
    font-size: 17px;
}

.main_article_div--comprar button{
    display: flex;
    color: #FFF;
    background-color: rgb(0, 93, 242);
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    width: 115px;
    justify-content: center;
}

@media (min-width:768px)  { 
    
    .main_article_img--imagen{
        width: 35%;
        height: 100%;
        padding: 10px;
    }

    .main_article--producto{
        height: 160px;
    }

    .main_article_div--botones button{
        padding: 10px;
    }
 }
