*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home--header{
    background-color: var(--escalaDeGrises);
}

.header-top {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.logo--master{
    display: flex;
    width: 15%;
    margin: 0px;
}

.logo{
    width: 92%;
}

.logo img{
    display: flex;
    width: 100%;
}

.tecmater--logo{
    display: none;
}

.search {
    display: flex;
    width: 79%;
    align-items: center;
    margin: 0px;
}

.search input{
    display: flex;
    background-color: white;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    width: 70%;
}

.Filter{
    display: none;
}

.Filter{
    border: none;
    padding: 10px;
}


 .lupa {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    border: 0px;
    color: gray;
    position: relative;
}

.header--catergoria{
    display: none;
}

hr{
    display: none;
}

.header__buerger--menu{
    color: white;
    text-align: center;
    padding: 10px;
}

.fa-bars{
    background-color: var(--colorGranate);
    padding: 10px;
    border-radius: 15%;
    font-size: 25px;
}

.home__header--local{
    display: flex;
    font-size: 26px;
    gap: 90px;
    justify-content: space-around;
}

.home__header--local i{
    color: #FFF;
}
.home__header__barra--nav .header--barra{
    display: none;
}


@media(min-width: 768px){

    .header-top{
        display: flex;
        padding-bottom: 0px;
        position: relative;
        justify-content: space-evenly;
    }


    .logo--master{
        display: flex;
        width: 8%;
        margin: 0px;
    }

    .Filter{
        display: flex;
        color: gray;
    }
    
    .logo{
        width: 93%;
    }
    
    .logo img{width: 99%;}
    

    .search {
        display: flex;
        width: 22%;
        align-items: center;
        margin: 0px;
        width: 60%;
        align-items: revert;
    }
    .header--catergoria{
        display: flex;
    }
    
    hr{
        display: flex;
        flex-wrap: nowrap;
    }

    .header__buerger--menu{
        display: none;
    }

    .home__header--local{
        display: flex;
        justify-content: center;
        gap: 22px;
        align-items: center;
    }

    .search input{
        margin: 0px;
        width: 76%;
    }

   .header--catergoria{
        background-color: white;
        padding: 2px;
        border: none;
       
    }

    .home__header__barra--nav .header--barra{
    display: flex;
    gap: 20px;
    }

    .home__header__barra--nav{
        display: flex;
        gap: 3rem;
        padding-bottom: 0px;
    }
    

    .home__header--barra{
        background-color: var(--colorGranate);
    }

    .home__header__barra--nav{
        display: flex;
        padding-bottom: 13px;
        position: relative;
        justify-content: flex-end;
    }

    .header--barra{
        display: flex;
        padding: 12px;
        gap: 15px;
    }

    .header--barra li{
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    .header--barra a{
        color: #FFF;
        text-decoration: none;
    }
}

@media(min-width: 1024px){
    .home__header--local{
    position: relative;
    }

    .logo{
        width: 60%;
    }

    .logo--master{
        display: flex;
        width: 18%;
        margin: 0px;
    }
    
    .tecmater--logo {
        display: flex;
        width: 100%;
    }
    .tecmater--logo img{
    width: 100%;
    }

    input:disabled{
        background: #ccc;
    }

    .search{
        width: 44%;
        position: relative;
    }

    .search input {
        margin: 0px;
        width: 79%;
    }
    .home__header--local span{
        /* display: flex; */
        font-size: 13px;
    }

    .home__header__barra--nav{
        display: flex;
        justify-content: flex-end;
    }

    .home__header--barra{
        padding: 0px;
        width: 85%;
        display: flex;
        justify-content: space-around;
        font-size: 20px;
    }

}
