*{
    margin:0;
    padding:0;
}
body{
    display: flex;
}
.body_title {
    width: 30vw;
    height: 5vw;
    display:flex;
    flex-wrap: wrap;
    
}
#i {  }

.body_title i{
    font-size:2.5rem;
    color: black
}
.body_title h1{
    font-size:2.5rem;
    color: black
}
.body_navbar{
    width: 400px;
    height: 5vw;
    display:flex;
    flex-direction: column;
}
.body_navbar input {
}
.body_navbar button{
    width: 10%;
}
.body_navbar div{
    display:flex;
}

.body__form{
    display: flex;
    flex-direction: column;
}
body form button{
    width: 30%;
}
.body_div--About{
    width: 30vp;
    height: 5vw;
    display: flex;
    flex-direction: column;
}

@media (max-width: 375px) {
    .body_title i{
        width: 5vw;
        font-size:3rem;
        color: black;
    }
    .body_title h1{
    display:none;
    }
    .body_div--About{
    display:none;
    }
    .body_navbar div{
        display:none;
    }
    
    .body_navbar input {
    width: 50vw;
    }
    .body__form{
        width: 25vw;
    }
}
