*{
    margin:0;
    padding:0;
}
body{
    display: flex;
}
.body_title {
    display:flex;
    flex-wrap: wrap;
}

.body_title i{
    font-size:xx-large;
    color: green;
}
.body_navbar{
    display:flex;
    flex-direction: column;
}
.body_navbar input {
    width: 80%;
}
.body_navbar button{
    width: 10%;
}
.body_navbar div{
    display:flex;
}

body form{
    display: flex;
    flex-direction: column;
}
body form button{
    width: 25%;
}
.body_div--About{
    display: flex;
    flex-direction: column;
}