/* *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
} */
.home__main{
    background-color: var(--escalaDeGrises);
}
.boby__view__home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.carousel-item {
    height: 35vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Free-Download-3D-HD-Nature-Images-620x349.jpg);
    }
    
    .card-columns .card {
    display: inline-block;
    width: 100%;
    }
    
    .card-img-top {
    width: 100%;
    height: 200px !important;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    }

    .main--article--info{
        display: flex;
        flex-direction: column;
    }

    .main--info{
        display: flex;
        background-color: var(--colorVioleta);
        justify-content: space-around;
    }

    .main__info--icon{
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 0px;
    }

    .main__info--icon li{
        display: flex;
    }

    .main__info--icon img{
        width: 70%;
    }

    .main__info--icon span{
        display: flex;
        font-size: 5px;
    }
/* carousel 2 */
.glider-next {
    display: none;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* background-color: var(--escalaDeGrises); */
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin: 30px;;
}


@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) {}


