*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.main{
    width: 100vw;
}

.login__main__div{
    background-color: var(--colorGranate);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.login__main__div__logo--tablet{
    display: none;
}

.login__main__div__titulo{
    color: white;
}

.login__main__div__logo--textinfo{
    display: none;
}

.login__main__div--links{
    width: 240px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.login__main__div--links a{
    color: rgb(207, 207, 207);
    
}

.login__main__form--logueo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}

.login__main__form--text{
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.login__main__form--boxes{
    border-bottom: 1px solid rgb(100, 100, 100);
}

.login__main__form--boxes input{
    border: 0;
    width: 200px;
}

.button{
    border-radius: 25px;
    background-color: #32051F;
    border: 0;
    padding: 10px;
    transition: 0.5sec;
    border: 1px solid #32051F;
}

.button:hover{
    background-color: #8a8a8a;
    border: 1px solid rgb(43, 43, 43);
}

.login__main__form--buttons a{
    color: white;
}

@media (min-width:768px) {
    .login__main__div__logo{
        display: none;
    }

    .login__main__div__logo--tablet{
        display: block;
    }

    .login__main__form--boxes input{
        width: 400px;
    }
}

@media (min-width:1024px) {

    main{
        display: flex;
        height: 100vh;
    }

    .login__main__div{
        width: 50%;
        gap: 40px;
        height: 100%;
    }

    .login__main__form--logueo{
        width: 50%;
        padding-top: 250px;
    }

    .login__main__div__logo{
        display: none;
    }

    .login__main__div__logo--tablet{
        display: block;
    }

    .login__main__div__logo--textinfo{
        display: block;
        width: 90%;
        text-align: center;
        
    }

    .login__main__div__logo--textinfo h3{
        font-weight: 100;
        text-align: center;
    }

    .login__main__form--boxes input{
        width: 400px;
    }
}