.register__main{
width: 100vw;


}
/* .register__main__section{

} */
.register__main__section__article{
display: flex;
flex-direction: column;
width: 100vw;

justify-content: space-between;
text-align: center;
align-items: center;

}
.register__form__header{
    background-color: var(--colorGranate);
    color: white;
    /*  border-radius: 4px; */
    /* padding:10px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.register__form__header a{
text-decoration: none;

}

.register__logo--master{
    text-align: center;
    align-items: center;
    display: flex;
    margin: 0;
}
.register__logo /*, .logo img */{
    justify-content: space-between;
    text-align: center;
    align-items: center; 
    width: 30vw;
}
/* .register__tecmaster--logo{

} */
.register__form__header--links{
    font-weight: 100;
    padding: 10%;
    flex-direction: column;
    flex-wrap: wrap;
}
.register__form__box input{
    
width: 100vw;
    
border: none;
    
border-bottom: 1px solid silver;
    
margin-top: 5px;
    
padding: 1%;
    
margin: 5%;
    
width: 90%;
}

.register__form__checkboxs{
    font-size: smaller;
}

.buttons{
    border: none;
    border-radius: 10px;
}
/* .register__form__box--buttons{

} */
.register__form__box--buttons a{
    
    text-decoration: none; 
}
.buttons__primary{
    background-color: var(--colorGranate);
    width: 35%;
    color: white;
    border:solid 1px var(--colorGranate);
}
.buttons__primary:hover {
	background-color: white;
    color: var(--colorGranate);
}
.buttons__secondary{
    background-color: white;
    width: 35%;
    margin-bottom: 10px;
    border:solid 1px black ;
    color: black;
    text-decoration: none;
}
.buttons__secondary:hover {
	background-color: var(--colorGranate);
    color: white;
}
