.register__main{
    width: 100vw;
}
    /* .register__main__section{
    
    } */
.register__main__section__article{
    width: 100vw;
    text-align: center;
}
.register__form__header{
        background-color: var(--colorGranate);
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
.register__form__header h3{
    color: white;
    }
    
.register__form__header a{
    text-decoration: none;
}
    
.register__logo--master{
        text-align: center;
        align-items: center;
        display: flex;
        margin: 0;
        justify-content: center;
        padding: 10px 0px 10px 0px;
}
.register__logo {
        display: flex;
}
    
.register__tecmater--logo {
      display: none;
}
    
.form__header--links{
        
    display: flex;     
    flex-direction: column;      
    gap: 15px;     
    align-items: center;    
    padding-bottom: 13px;
    }
    
.form__header--links a{
    
    display: flex;
    border: solid 1px #FFF;
    justify-content: center;
    width: 80%;
    color: #fff;
    gap: 6px;
    padding: 5px 0px 3px 0px;
    font-family: 'Lato', sans-serif;
    }
    
    .register__main--h1{
        margin-top: 5%;
    }
    
    .register__form__box input{
        
    width: 100vw;
    border: none;
    border-bottom: 1px solid silver;
    padding: 1%;
    margin: 5%;
    width: 90%;
    }
    
    .register__form__checkboxs{
        display: flex;
    }
    
    .register__form__oferta1{
        display: flex;
        font-size: 12px;
        justify-content: center;
        padding-bottom: 30px;
        gap: 5px;
        font-family: 'Lato', sans-serif;
    }
    
    .register__form__oferta1 label{
        display: flex;
        justify-content: center;
    }
    
    .register__form__oferta{
        display: flex;
        justify-content: center;
        font-size: 12px;
        gap: 5px;
        font-family: 'Lato', sans-serif;
    }
    
    .buttons{
        border: none;
        border-radius: 10px;
        padding: 9px;
    }
    /* .register__form__box--buttons{
    
    } */
    .register__form__box--buttons a{
        
    text-decoration: none;
    font-weight: 700;
    }
    .buttons__primary{
        background-color: var(--colorGranate);
        width: 35%;
        color: white;
        border:solid 1px var(--colorGranate);
    }
    .buttons__primary:hover {
        background-color: white;
        color: var(--colorGranate);
        color: #000;
    }
    .buttons__secondary{
        background-color: white;
        width: 35%;
        margin-bottom: 10px;
        border:solid 1px black;
        color: black;
        text-decoration: none;
    }
    .buttons__secondary a{
        color: black;
    }
    .buttons__secondary:hover {
        background-color: rgb(165, 165, 165);
        color: white;
    }
    .buttons__secondary:hover a{
        color: white;
    }

    @media (min-width:720px)  { 

        .register__form__header{
            align-items: center;
        }
        .form__header--links{
            width: 60%;
        }
        .register__form__header h3{           
            font-size: 1.7rem;
        }
        .register__tecmater--logo img{
            display: flex;
          }
          .register__main--h1{
            font-size: 1.6rem;
          }
          .register__form__box input{
            width: 50%;
            margin: 20px;
          }

          .buttons__primary{
            width: 25%;
          }
          
          .buttons__secondary{
            width: 25%;
          }

    }
    
    @media (min-width:1024px) { 
        .register__main{
            display: flex;
            height: 100vh;

        }

        .register__main__section__article-logo{
            width: 50%;
            gap: 40px;
            height: 100%;
        }
        .register__tecmater--logo{
            display: block;
        }

     }

     

    