<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/Stylesheets/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TechMaster Carrito</title>
</head>
<body class="boby__view__carrito">
  
  

  
  <%- include('./partials/header') %> 


  <main class="mainCarrito">
    <h1>Carrito De Compra</h1>
    <section>

      <article>
        <img src="/Images/teclado1.png"></img>
        <div>
          <h1>Teclado Pampa usb</h1>
          <h2>$650</h2>
          <h3></h3>
          <div>
            <a href="/detalle"><button class=".buttons .login__button">Ver detalles</button></a>
            <a href="/detalle"><button>Quitar del carrito</button></a>
            <input type="number" value="1" min="1">
          </div>
        </div>
      </article>

      <article class="articleCarrito">
        <img src="/Images/monitor2.png"></img>
        <div>
          <h1>Monitor Hitachi 22'</h1>
          <h2>$1000</h2>
          <h3>15% OFF</h3>
          <div>
            <a href="/detalle"><button>ver detalles</button></a>
            <a href="/detalle"><button>Quitar del carrito</button></a>
            <input type="number" value="1" min="1">
          </div>
        </div>
      </article>

      <article class="articleCarrito">
        <img src="/Images/auriculares2.png"></img>
        <div>
          <h1>Auriculares Hitachi 3.5</h1>
          <h2>$100</h2>
          <h3>50% OFF</h3>
          <div>
            <a href="/detalle"><button>ver detalles</button></a>
            <a href="/detalle"><button>Quitar del carrito</button></a>
            <input type="number" value="1" min="1">
          </div>
        </div>
      </article>

      <article class="totalCarrito">
        <div>
          <h1>Total</h1>
          <h2>$1750</h2>
          <div>
            <button>Comprar</button>
          </div>
        </div>
      </article>
      
    </section>
  </main>

  <%- include('./partials/footer')  %> 
</body>

</html>