<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/Stylesheet/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TechMaster Carrito</title>
</head>

<body class="boby__view__carrito">
  
  
  
  
  
  <header class="home--header">
    <div class="header-top">
      <div class="logo--master">
        <a class="logo" href="/"><img src="/images/logo.svg" alt="Logo" /></a>
        <a class="tecmater--logo" href="/"><img src="/images/LOGO-TECHMASTER.svg" alt=""></a>
      </div>
      <form class="search" action="/search" method="GET">
        <input type="search" name="busqueda" placeholder="Buscar productos" />
        <hr />
        <select class="Filter" name="Filtrar" id="">
          <option value="">Filtrar</option>
          <option value="0"><a href="#">Todos</a></option>
          <option value="1"><a href="#">Monitor</a></option>
          <option value="2"><a href="#">Teclado</a></option>
          <option value="3"><a href="#">Mouses</a></option>
          <option value="4"><a href="#">Auriculares</a></option>
          <option value="5"><a href="#">Ofertas</a></option>
        </select>
        <hr />
         <button class="lupa"><i class="fas fa-search"></i></button>
        <nav>
          <div class="header__buerger--menu">
            <i class="fas fa-bars"></i>
          </div>
        </nav>
      </form>
      <div class="home__header--local">
        <ul class="header--redes">
          <li><a href="#"><i class="fa-solid fa-location-dot"></i><span>Ubicación EEUU 123</span></a></li>
          <li><i class="fa-solid fa-user"></i></li>
          <span> <a href="./login">Ingresar</a><a href="./register">Registrarse</a></span>
          <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>

      </div>
    </div>
    <nav class="home__header__barra--nav">
      <div class="home__header--barra">
        <ul class="header--barra">
          <li><a href="/resultados">Monitor</a></li>
          <li><a href="/resultados">Mouse</a></li>
          <li><a href="/resultados">Teclado</a></li>
          <li><a href="/resultados">Auriculares</a></li>
          <li><a href="/resultados">Ofertas</a></li>
          <hr />
          <li><a href="#contactos">Contactos</a></li>
          <li><a href="#">Sobre nosotros</a></li>
        </ul>
      </div>
    </nav>
  </header>



  <main class="mainCarrito">
    <h1>Carrito De Compra</h1>
    <section>

      <article class="articleCarrito">
        <img src="/Images/teclado1.png"></img>
        <div>
          <h1>Teclado Pampa usb</h1>
          <h2>$650</h2>
          <h3></h3>
          <div>
            <button>ver detalles</button>
            <button>quitar del carrito</button>
            <input type="number" value="1" min="1">
          </div>
        </div>
      </article>

      <article class="articleCarrito">
        <img src="/Images/monitor2.png"></img>
        <div>
          <h1>Monitor Hitachi 22'</h1>
          <h2>$1000</h2>
          <h3>15% OFF</h3>
          <div>
            <button>ver detalles</button>
            <button>quitar del carrito</button>
            <input type="number" value="1" min="1">
          </div>
        </div>
      </article>

      <article class="articleCarrito">
        <img src="/Images/auriculares2.png"></img>
        <div>
          <h1>Auriculares Hitachi 3.5</h1>
          <h2>$100</h2>
          <h3>50% OFF</h3>
          <div>
            <button>ver detalles</button>
            <button>quitar del carrito</button>
            <input type="number" value="1" min="1">
          </div>
        </div>
      </article>

      <article class="totalCarrito">
        <div>
          <h1>Total</h1>
          <h2>$1750</h2>
          <div>
            <button>Comprar</button>
          </div>
        </div>
      </article>
      
    </section>
  </main>

  <footer>
    <section class="footer--section" id="contactos">
      <div class="footer--div">
        <div class="footer--logo">
          <img class="logo--footer" src="/images/logo.svg" alt="">
          <div class="footer__barra--lista">
            <h2>Seguinos</h2>
            <h2>Contactos</h2>
            <h2>Métodos de pago</h2>
          </div>
          <div class="footer__section--div">
            <div class="footer--redes">
              <ul class="lista--redsocial">
                <li><a href=""><img src="/images/facebook 1.svg" alt="facebook"><span>@TechMaster</span></a></li>
                <li><a href=""><img src="/images/instagram 1.svg" alt="instagram"><span>@TechMaster</span></a></li>
                <li><a href=""><img src="/images/twitter 1.svg" alt="twitter"><span>@TechMaster</span></a></li>
              </ul>
            </div>
            <div class="footer--contactos">
              <ul class="lista--contactos">
                <li><a href=""><img src="/images/whatsapp 1.svg" alt="whatsapp"><span>+12 123 1234567</span></a></li>
                <li><a href=""><img src="/images/Ubicacion.svg" alt="Ubicacion"><span>Calle Falsa 123</span></a></li>
                <li><a href=""><img src="/images/Correo.svg" alt="Correo"><span>TechMaster@gmail.com</span></a></li>
              </ul>
            </div>
            <div class="footer--metodosDePago">
              <img src="/images/Mastercard.png" alt="">
              <img src="/images/Visa.png" alt="">
              <img src="/images/RapiPago.png" alt="">
              <img src="/images/PayPal.png" alt="">
              <img src="/images/Naranja.png" alt="">
              <img src="/images/MercadoPago.png" alt="">
            </div>
          </div>
    </section>

  </footer>
</body>

</html>