<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
    src="https://kit.fontawesome.com/35292d76ff.js"
    crossorigin="anonymous"
  ></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
    <link rel="stylesheet" href="/stylesheet/styles.css" />
</head>
<body>
  <header class="home--header">
    <div class="header-top">
      <div class="logo--master">
        <a class="logo" href="/"><img src="/images/logo.svg" alt="Logo" /></a>
        <a class="tecmater--logo" href=""><img src="/images/LOGO-TECHMASTER.svg" alt=""></a>
      </div>
      <form class="search" action="/search" method="GET">
        <input type="search" name="busqueda" placeholder="Buscar productos" />
        <hr />
        <select class="Filter" name="Filtrar" id="">
          <option value="">Filtrar</option>
          <option value="0"><a href="#">Todos</a></option>
          <option value="1"><a href="#">Monitor</a></option>
          <option value="2"><a href="#">Teclado</a></option>
          <option value="3"><a href="#">Mouses</a></option>
          <option value="4"><a href="#">Auriculares</a></option>
          <option value="5"><a href="#">Ofertas</a></option>
        </select>
        <hr />
        <button class="lupa"><i class="fas fa-search"></i></button>

        <nav>
          <div class="header__buerger--menu">
            <i class="fas fa-bars"></i>
          </div>
        </nav>
      </form>
      <div class="home__header--local">
        <ul class="header--redes">
          <li><a href="#"><i class="fa-solid fa-location-dot"></i><span>Ubicación EEUU 123</span></a></li>
          <li><i class="fa-solid fa-user"></i></li>
          <span> <a href="">Ingresar</a><a href="./register">Registrarse</a></span>
          <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>

      </div>
    </div>
    <nav class="home__header__barra--nav">
      <div class="home__header--barra">
        <ul class="header--barra">
          <li><a href="#">Monitor</a></li>
          <li><a href="#">Mouse</a></li>
          <li><a href="#">Teclado</a></li>
          <li><a href="#">Auriculares</a></li>
          <li><a href="#">Ofertas</a></li>
          <hr />
          <li><a href="#">Contactos</a></li>
          <li><a href="#">Sobre nosotros</a></li>
        </ul>
      </div>
    </nav>
  </header>

      <main class="detalle__main">

        <section class="detalle__section">
        <h3 class="detalle__title">MOUSE LOGITECH G502 WIRELESS GAMING LIGHTSPEED</h3>

        
        

        
        <div id="carouselExample" class="carousel slide detalle__carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url(/Images/MouseLightspeedG502-1.png);">
            </div>
            <div class="carousel-item" style="background-image: url(/Images/MouseLightspeedG502-2.png);">
            </div>
            <div class="carousel-item" style="background-image: url(/Images/MouseLightspeedG502-3-.png);">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      
        
          


      
        

        <div class="detalle__info">
            <div>
            <span class="detalle__price">$ 15.000</span>
            </div>
            <span class="detalle__cuotas">en 6x $3.000</span>
        
        <div>
            <p><i class="fa-sharp fa-solid fa-truck-fast"></i> Llega gratis hoy</p>
          </div>
        </div>
            <div class="box__button-comprar">
               <a href="/carrito"> <button type="submit">Comprar ahora</button></a>
            </div>
            <div class="box__button-agregar">
                <button type="submit">Agregar al carrito</button>
            </div>
         
      
  
      </section>

      <section class="detalle__section-description">
        <hr>
        <span>lo que tenés que saber de este producto</span>
        <ul>
          <li>Utiliza cable.</li>
          <li>Posee rueda de desplazamiento.</li>
          <li>Con luces para mejorar la experiencia de uso.</li>
          <li>Con sensor óptico.</li>
          <li>Resolución de 25600dpi.</li>
          <li>Creado para llevar a todas partes.</li>
          <li>Control inteligente y navegación fácil.</li>
        </ul>
        <hr>
      </section>

<section class="detalle__main-productos">
  <div class="detalle__title-relacionados">
  <h4>productos relacionados</h4>
</div>
    <div class="glider-contain">
      <div class="glider">
        
        <div id="detalle-items" class="card" >
          <img src="/Images/teclado1.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <h5 class="card-title">$7.000</h5>
            <p class="card-text">Teclado Genius k-1620 de Alta Performance</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div  id="detalle-items" class="card" >
          <img src="/Images/teclado1.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <h5 class="card-title">$7.000</h5>
            <p class="card-text">Teclado Genius k-1620 de Alta Performance</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div  id="detalle-items" class="card" >
          <img src="/Images/teclado1.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <h5 class="card-title">$7.000</h5>
            <p class="card-text">Teclado Genius k-1620 de Alta Performance</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div id="detalle-items" class="card" >
          <img src="/Images/teclado1.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <h5 class="card-title">$7.000</h5>
            <p class="card-text">Teclado Genius k-1620 de Alta Performance</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div id="detalle-items" class="card" >
          <img src="/Images/teclado1.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <h5 class="card-title">$7.000</h5>
            <p class="card-text">Teclado Genius k-1620 de Alta Performance</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

      </div>
      <button aria-label="Previous" class="glider-prev">«</button>
  <!-- <button aria-label="Next" class="glider-next">»</button> -->
  <div role="tablist" class="dots"></div>
</div>
    </section>
      </main>

      <footer>
        <section class="footer--section">
          <div class="footer--div">
            <div class="footer--logo">
              <img class="logo--footer" src="/images/logo.svg" alt="">
            <div class="footer__barra--lista">
              <h2>Seguinos</h2>
              <h2>Contactos</h2>
              <h2>Métodos de pago</h2>
            </div>
          <div class="footer__section--div">
          <div class="footer--redes">
            <ul class="lista--redsocial">
            <li><a href=""><img src="/images/facebook 1.svg" alt="facebook"><span>@TechMaster</span></a></li>
            <li><a href=""><img src="/images/instagram 1.svg" alt="instagram"><span>@TechMaster</span></a></li>
            <li><a href=""><img src="/images/twitter 1.svg" alt="twitter"><span>@TechMaster</span></a></li>
          </ul>
          </div>
        <div class="footer--contactos">
          <ul class="lista--contactos">
          <li><a href=""><img src="/images/whatsapp 1.svg" alt="whatsapp"><span>+12 123 1234567</span></a></li>
          <li><a href=""><img src="/images/Ubicacion.svg" alt="Ubicacion"><span>Calle Falsa 123</span></a></li>
          <li><a href=""><img src="/images/Correo.svg" alt="Correo"><span>TechMaster@gmail.com</span></a></li>
        </ul>
        </div>
        <div class="footer--metodosDePago">
          <img src="/images/Mastercard.png" alt="">
          <img src="/images/Visa.png" alt="">
          <img src="/images/RapiPago.png" alt="">
          <img src="/images/PayPal.png" alt="">
          <img src="/images/Naranja.png" alt="">
          <img src="/images/MercadoPago.png" alt="">
        </div>
      </div>
        </section>
    
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

      <script>
        new Glider(document.querySelector('.glider'), {
  slidesToShow: 1.5,
  slidesToScroll: 1,
  draggable: true,
  dots: '.dots',
  arrows: {
    prev: '.glider-prev',
    next: '.glider-next'
  },
  responsive: [
    {
      // screens greater than >= 775px
      breakpoint: 768,
      settings: {
        // Set to `auto` and provide item width to adjust to viewport
        slidesToShow: 3,
        slidesToScroll: 'auto',
        itemWidth: 150,
        duration: 0.25
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 1024,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 1,
        itemWidth: 150,
        duration: 0.25
      }
    }
  ]
});
      </script>

    </body>
  </html>