<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Stylesheet/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TechMaster index</title>
</head>

<body>
    <ul>
        <li><a href="/header">header</a></li>
        <li><a href="/carrito">carrito</a></li>
        <li><a href="/">index</a></li>
        <li><a href="/home">home</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/register">register</a></li>
    </ul>
</body>

</html>