<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Stylesheet/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ThechMaster</title>
</head>

<body class="body">
    <div class="body_title">
        <i class="fa-solid fa-bolt" id="i"></i>
        <div>ThechMaster</div>
    </div>
    <nav class="body_navbar">
        <input type="text" placeholder="busca productos o marcas">
        <div>
            <input type="checkbox" name="categorias" value="Monitores">Monitores
            <input type="checkbox" name="categorias" value="Teclados">Teclados
            <input type="checkbox" name="categorias" value="Mouses">Mouses
            <input type="checkbox" name="categorias" value="Auriculares">Auriculares
            <input type="checkbox" name="categorias" value="Ofertas">Ofertas
        </div>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </nav>
    <div>
        <!-- GPS DATA -->
    </div>
    <form>
        <input type="text" placeholder="usuario o mail">
        <input type="password" placeholder="contraseña">
        <button type="submit" name="Login">Login</button>
    </form>
    <div class="body_div--About">
        <button type="button" ; name="Login">About Proyect</button>
        <button type="submit" name="Login">About Us</button>
    </div>
</body>

</html>