<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Stylesheet/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TechMaster Home</title>
    <!-- glider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">

    <script
    src="https://kit.fontawesome.com/35292d76ff.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  
</head>
<body class="boby__view__home">
  <header class="home--header">
    <div class="header-top">
      <div class="logo--master">
        <a class="logo" href="/home"><img src="/images/logo.svg" alt="Logo" /></a>
        <a class="tecmater--logo" href="/home"><img src="/images/LOGO-TECHMASTER.svg" alt=""></a>
      </div>
      <form class="search" action="/search" method="GET">
        <input type="search" name="busqueda" placeholder="Buscar productos" />
        <hr />
        <select class="Filter" name="Filtrar" id="">
          <option value="">Filtrar</option>
          <option value="0"><a href="#">Todos</a></option>
          <option value="1"><a href="#">Monitor</a></option>
          <option value="2"><a href="#">Teclado</a></option>
          <option value="3"><a href="#">Mouses</a></option>
          <option value="4"><a href="#">Auriculares</a></option>
          <option value="5"><a href="#">Ofertas</a></option>
        </select>
        <hr />
         <button class="lupa"><i class="fas fa-search"></i></button>
        <nav>
          <div class="header__buerger--menu">
            <i class="fas fa-bars"></i>
          </div>
        </nav>
      </form>
      <div class="home__header--local">
        <ul class="header--redes">
          <li><a href="#"><i class="fa-solid fa-location-dot"></i><span>Ubicación EEUU 123</span></a></li>
          <li><i class="fa-solid fa-user"></i></li>
          <span> <a href="./login">Ingresar</a><a href="./register">Registrarse</a></span>
          <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>

      </div>
    </div>
    <nav class="home__header__barra--nav">
      <div class="home__header--barra">
        <ul class="header--barra">
          <li><a href="/resultados">Monitor</a></li>
          <li><a href="/resultados">Mouse</a></li>
          <li><a href="/resultados">Teclado</a></li>
          <li><a href="/resultados">Auriculares</a></li>
          <li><a href="/resultados">Ofertas</a></li>
          <hr />
          <li><a href="#contactos">Contactos</a></li>
          <li><a href="#">Sobre nosotros</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="home__main">
    <section class="main--section-s">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/Images/PC-1.png')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Black Friday sale</h3>
            <h2>UPTO</h2>
            <h1>50% OFF</h1>
            <button><a href="">COMPRAR</a></button>

          </div>
        </div>
        <!-- Slide 2 - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/Images/PC-2.png')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Black Friday sale</h3>
            <h2>UPTO</h2>
            <h1>50% OFF</h1>
            <button><a href="">COMPRAR</a></button>
          </div>
        </div>
        <!-- Slide 3 - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/Images/PC-3.png')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Black Friday sale</h3>
            <h2>UPTO</h2>
            <h1>50% OFF</h1>
            <button><a href="">COMPRAR</a></button>

          </div>
        </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
    <div class="main__image--card">
    <div class="image--lado card">
      <img src="/Images/PC-1.png" alt="">
      <h2>Gaming computer</h2>
      <span>1TB SSD <br>
      16GB RAM <br>
      AMD-5600G
    </span> 
      
      <button class="button1"><a href="">COMPRAR</a></button>
      </div>
      <div class="direction">
      <div class="main__image--card2">
      <div class="image--lado card">
        <img src="/Images/PC-1.png" alt="">
        <h2>Gaming computer</h2>
        <span>1TB SSD <br>
        16GB RAM <br>
        AMD-5600G
      </span> 
        
        <button class="button2"><a href="">COMPRAR</a></button>
        </div>
      </div>
      <div class="main__image--card3">
        <div class="image--lado3 card">
          <img src="/Images/PC-1.png" alt="">
          <h2>Gaming computer</h2>
          <span>1TB SSD <br>
          16GB RAM <br>
          AMD-5600G
        </span> 
          
          <button class="button3"><a href="/detalle">COMPRAR</a></button>
          </div>
        </div>
      </div>
  </div>
</section>
    <section>

    </section>

    <section>

      <div class="main__div--info">
        <ul class="main__ul--info">
          <li><img src="/Images/fast-delivery.svg" alt=""><!-- <h4>ENVIÓ RÁPIDO</h4> --></li>
          <li><img src="/Images/secure.svg" alt=""><!-- <h4>PLATAFORMA EN LINEA SEGURO</h4> --></li>
          <li><img src="/Images/money-back.svg" alt=""><!-- <h4>GARANTÍA DE REEMBOLSO</h4> --></li>
          <li><img src="/Images/avatar.svg" alt=""><!-- <h4>ATENCIÓN AL CLIENTE 24/7</h4> --></li>
        </ul>
      </div>


<!--       <article class="main--article--info">
        <div class="main--info">
          <ul class="main__info--icon">
            <li><a href="#"><img src="/Images/fast-delivery.svg" alt="">
              <span>ENVIÓ RÁPIDO</span>
            </a></li>
            <li><a href="#"><img src="/Images/secure.svg" alt="">
              span>PLATAFORMA EN LINEA SEGURO</span></a></li>
            <li><a href="#"><img src="/Images/money-back.svg" alt=""><span>GARANTÍA DE REEMBOLSO</span></a></li>
            <li><a href="#"><img src="/Images/avatar.svg" alt=""><span>ATENCIÓN AL CLIENTE 24/7</span></a></li>
          </ul>
        </div>
      </article> -->
    </section>

    <div class="conteudo">
      <div class="carrousel">
        <article class="card">
          <img src="/Images/PC-1.png" alt="">
          <h3>22 Producto</h3>
          <h4>Desktops AMD 5600g</h4>
          <button>
          <a href="">Explore More <i class="fa-solid fa-arrow-right"></i></a>
        </button>
        </article>
        <article class="card">
          <img src="/Images/PC-2.png" alt="">
          <h3>22 Producto</h3>
          <h4>Desktops AMD 5600g</h4>
          <button>
            <a href="">Explore More <i class="fa-solid fa-arrow-right"></i></a>
          </button>
        </article>
        <article class="card">
          <img src="/Images/PC-1.png" alt="">
          <h3>22 Producto</h3>
          <h4>Desktops AMD 5600g</h4>
          <button>
            <a href="">Explore More <i class="fa-solid fa-arrow-right"></i></a>
          </button>
        </article>
        <article class="card">
          <img src="/Images/PC-1.png" alt="">
          <h3>22 Producto</h3>
          <h4>Desktops AMD 5600g</h4>
          <button>
            <a href="">Explore More <i class="fa-solid fa-arrow-right"></i></a>
          </button>
        </article>
        <article class="card">
          <img src="/Images/PC-1.png" alt="">
          <h3>22 Producto</h3>
          <h4>Desktops AMD 5600g</h4>
          <button>
            <a href="">Explore More <i class="fa-solid fa-arrow-right"></i></a>
          </button>
        </article>
        <article class="card">
          <img src="/Images/PC-1.png" alt="">
          <h3>22 Producto</h3>
          <h4>Desktops AMD 5600g</h4>
          <button>
            <a href="">Explore More <i class="fa-solid fa-arrow-right"></i></a>
          </button>
        </article>
        <article class="card">
          <img src="/Images/PC-1.png" alt="">
          <h3>22 Producto</h3>
          <h4>Desktops AMD 5600g</h4>
          <button>
            <a href="">Explore More <i class="fa-solid fa-arrow-right"></i></a>
          </button>
        </article>
      </div>
    </div>
  </main>
  <!-- ---------------------------------------------------- -->
  <footer>
    <section class="footer--section">
      <div class="footer--div">
        <div class="footer--logo">
          <img class="logo--footer" src="/images/logo.svg" alt="">
        <div class="footer__barra--lista">
          <h2>Seguinos</h2>
          <h2>Contactos</h2>
          <h2>Métodos de pago</h2>
        </div>
      <div class="footer__section--div">
      <div class="footer--redes">
        <ul class="lista--redsocial">
        <li><a href=""><img src="/images/facebook 1.svg" alt="facebook"><span>@TechMaster</span></a></li>
        <li><a href=""><img src="/images/instagram 1.svg" alt="instagram"><span>@TechMaster</span></a></li>
        <li><a href=""><img src="/images/twitter 1.svg" alt="twitter"><span>@TechMaster</span></a></li>
      </ul>
      </div>
    <div class="footer--contactos">
      <ul class="lista--contactos">
      <li><a href=""><img src="/images/whatsapp 1.svg" alt="whatsapp"><span>+12 123 1234567</span></a></li>
      <li><a href=""><img src="/images/Ubicacion.svg" alt="Ubicacion"><span>Calle Falsa 123</span></a></li>
      <li><a href=""><img src="/images/Correo.svg" alt="Correo"><span>TechMaster@gmail.com</span></a></li>
    </ul>
    </div>
    <div class="footer--metodosDePago">
      <img src="/images/Mastercard.png" alt="">
      <img src="/images/Visa.png" alt="">
      <img src="/images/RapiPago.png" alt="">
      <img src="/images/PayPal.png" alt="">
      <img src="/images/Naranja.png" alt="">
      <img src="/images/MercadoPago.png" alt="">
    </div>
  </div>
    </section>

  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<!-- glider -->
<script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

<script>

  new Glider(document.querySelector('.glider'), {
    slidesToShow: 1,
    slidesToScroll: 1,
    draggable: true,
    dots: '.dots',
    
    responsive: [
    {
        // screens greater than >= 320px
        breakpoint: 320,
        settings: {
          // Set to `auto` and provide item width to adjust to viewport
          slidesToShow: 1,
          slidesToScroll: 1,
          itemWidth: 170,
          duration: 0.25
        }
      },
      {
        // screens greater than >= 768px
        breakpoint: 768,
        settings: {
          // Set to `auto` and provide item width to adjust to viewport
          slidesToShow: 2,
          slidesToScroll: 1,
          itemWidth: 150,
          duration: 0.25
        }
      },{
        // screens greater than >= 1024px
        breakpoint: 1024,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 1,
          itemWidth: 150,
          duration: 0.25
        }
      }
    ]
  });

</script>

</body>
</html>