<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Stylesheet/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://kit.fontawesome.com/c7a14b7db2.js" crossorigin="anonymous"></script> -->
    <title>TechMaster | Register</title>
</head>

<body>
 
    <main class="register__main">
        <section class="register__main__section">
            <article class="register__main__section__article">
              
              
                <form  action="">
                    <div class="register__form__header">
                      
                        <h2>Bienvenid@ a</h2>

                        <div class="register__logo--master">
                          <a class="register__logo" href="/"><img src="/images/logo.svg" alt="Logo" /></a>
                          <a class="register__tecmater--logo" href=""><img src="/images/LOGO-TECHMASTER.svg" alt=""></a>
                        </div>

                        <div class="form__header--links">
                        <a href="">
                          <i class="fa-brands fa-facebook"></i>
                          Continuar con Facebook
                        </a>

                        <a href="">
                          <i class="fa-brands fa-google"></i>
                          Continuar con Google
                        </a>
                        </div>
                      

                    </div>

                    <h1 class="register__main--h1">Crea tu cuenta</h1>
                    <div class="register__form__box">
                        
                        <input type="text" placeholder="Nombre" name="name" id="name" autocomplete="off">
                    </div>
                    <div class="register__form__box">
                        <input type="text" placeholder="Apellido" name="surname" id="surname" autocomplete="off">
                    </div>
                    <div class="register__form__box">
                        <input type="email" placeholder="Email" name="email" id="email" autocomplete="off">
                    </div>
                    <div class="register__form__box">
                        <input type="password" placeholder="Contraseña" name="password" id="password" autocomplete="off">
                    </div>
                    <div class="register__form__box">
                        <input type="password" placeholder="Confirmar contraseña" name="password2" id="password2" autocomplete="off">
                    </div>

                    <div class="register__form__oferta">
                      <input type="checkbox" placeholder="" name="checkbox">
                      <label for=""> Recibir oferta de producto</label>
                    </div>
                    
                    <div class="register__form__oferta1">
                      <input type="checkbox" placeholder="" name="checkbox">
                      <label for="">Estoy de acuerdo con <a href="">los términos y la política</a> </label>
                    </div>


                    
                    <div class="register__form__box--buttons">
                      <button class="buttons buttons__primary" type="submit">Registrarme</button>
                      <button class="buttons buttons__secondary" type="submit"> <a href="/login.html">Ingresar</a> </button>
                 
                    </div>
                </form>
            </article>
        </section>
      </main>
</body>

</html>