<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/Stylesheet/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TechMaster Resultados</title>
</head>

<body>
  <header class="home--header">
    <div class="header-top">
      <div class="logo--master">
        <a class="logo" href="/"><img src="/images/logo.svg" alt="Logo" /></a>
        <a class="tecmater--logo" href=""><img src="/images/LOGO-TECHMASTER.svg" alt=""></a>
      </div>
      <form class="search" action="/search" method="GET">
        <input type="search" name="busqueda" placeholder="Buscar productos" />
        <hr />
        <select class="Filter" name="Filtrar" id="">
          <option value="">Filtrar</option>
          <option value="0"><a href="#">Todos</a></option>
          <option value="1"><a href="#">Monitor</a></option>
          <option value="2"><a href="#">Teclado</a></option>
          <option value="3"><a href="#">Mouses</a></option>
          <option value="4"><a href="#">Auriculares</a></option>
          <option value="5"><a href="#">Ofertas</a></option>
        </select>
        <hr />
        <button class="lupa"><i class="fas fa-search"></i></button>

        <nav>
          <div class="header__buerger--menu">
            <i class="fas fa-bars"></i>
          </div>
        </nav>
      </form>
      <div class="home__header--local">
        <ul class="header--redes">
          <li><a href="#"><i class="fa-solid fa-location-dot"></i><span>Ubicación EEUU 123</span></a></li>
          <li><a href="#"><i class="fa-solid fa-user"></i><span>Login / Registrar</span></a></li>
          <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>

      </div>
    </div>
    <nav class="home__header__barra--nav">
      <div class="home__header--barra">
        <ul class="header--barra">
          <li><a href="#">Monitor</a></li>
          <li><a href="#">Mouse</a></li>
          <li><a href="#">Teclado</a></li>
          <li><a href="#">Auriculares</a></li>
          <li><a href="#">Ofertas</a></li>
          <hr />
          <li><a href="#">Contactos</a></li>
          <li><a href="#">Sobre nosotros</a></li>
        </ul>
      </div>
    </nav>
  </header>
  
  <main class="main--carrito">
    <h1 class="main_h1--titulo">Resultados de busqueda</h1>
      
      <article class="main_article--producto">
        <img class="main_article_img--imagen" src="/Images/auriculares1.png"></img>
        <div class="main_article_div--etiqueta">        
        <h1 class="main_article_div_h1--nombre">Auriculares Genius 3.5</h1>        
        <h2 class="main_article_div_h2--precio">$300</h2>
        <h3 class="main_article_div_h3--Oferta"></h3>   
        <div class="main_article_div--botones">
          <button>Ver detalles</button>
          <button>Agregar al carro</button>
        </div>
      </div>
    </article>
    
    <article class="main_article--producto">
      <img class="main_article_img--imagen" src="/Images/auriculares2.png"></img>
      <div class="main_article_div--etiqueta">        
        <h1 class="main_article_div_h1--nombre">Auriculares Hitachi 3.5</h1>        
        <h2 class="main_article_div_h2--precio">$100</h2>   
        <h3 class="main_article_div_h3--Oferta">50% off</h3>   
        <div class="main_article_div--botones">
          <button>Ver detalles</button>
          <button>Agregar al carro</button>
        </div>
      </div>
    </article>

    <article class="main_article--producto">
      <img class="main_article_img--imagen" src="/Images/monitor1.png"></img>
      <div class="main_article_div--etiqueta">        
        <h1 class="main_article_div_h1--nombre">Monitor Lenovo 16'</h1>        
        <h2 class="main_article_div_h2--precio">$900</h2>   
        <h3 class="main_article_div_h3--Oferta"></h3>   
        <div class="main_article_div--botones">
          <button>Ver detalles</button>
          <button>Agregar al carro</button>
        </div>
      </div>
    </article>

    <article class="main_article--producto">
      <img class="main_article_img--imagen" src="/Images/monitor2.png"></img>
      <div class="main_article_div--etiqueta">        
        <h1 class="main_article_div_h1--nombre">Monitor Hitachi 22'</h1>        
        <h2 class="main_article_div_h2--precio">$1000</h2>   
        <h3 class="main_article_div_h3--Oferta">15% off</h3>   
        <div class="main_article_div--botones">
          <button>Ver detalles</button>
          <button>Agregar al carro</button>
        </div>
      </div>
    </article>

    <article class="main_article--producto">
      <img class="main_article_img--imagen" src="/Images/mouse1.png"></img>
      <div class="main_article_div--etiqueta">        
        <h1 class="main_article_div_h1--nombre">Mouse RedSnake usb</h1>        
        <h2 class="main_article_div_h2--precio">$250</h2>   
        <h3 class="main_article_div_h3--Oferta"></h3>   
        <div class="main_article_div--botones">
          <button>Ver detalles</button>
          <button>Agregar al carro</button>
        </div>
      </div>
    </article>
    
    <article class="main_article--producto">
      <img class="main_article_img--imagen" src="/Images/mouse2.png"></img>
      <div class="main_article_div--etiqueta">        
        <h1 class="main_article_div_h1--nombre">Mouse Endemia usb</h1>        
        <h2 class="main_article_div_h2--precio">$250</h2>   
        <h3 class="main_article_div_h3--Oferta">20% off</h3>   
        <div class="main_article_div--botones">
          <button>Ver detalles</button>
          <button>Agregar al carro</button>
        </div>
      </div>
    </article>


    <article class="main_article--producto">
      <img class="main_article_img--imagen" src="/Images/teclado1.png"></img>
      <div class="main_article_div--etiqueta">        
        <h1 class="main_article_div_h1--nombre">Teclado Pampa usb</h1>        
        <h2 class="main_article_div_h2--precio">$650</h2>   
        <h3 class="main_article_div_h3--Oferta"></h3>   
        <div class="main_article_div--botones">
          <button>Ver detalles</button>
          <button>Agregar al carro</button>
        </div>
      </div>
    </article>

    <article class="main_article--producto">
      <img class="main_article_img--imagen" src="/Images/teclado2.png"></img>
      <div class="main_article_div--etiqueta">        
        <h1 class="main_article_div_h1--nombre">Teclado impar usb</h1>        
        <h2 class="main_article_div_h2--precio">$500</h2>   
        <h3 class="main_article_div_h3--Oferta">10%</h3>   
        <div class="main_article_div--botones">
          <button>Ver detalles</button>
          <button>Agregar al carro</button>
        </div>
      </div>
    </article>

  </main>

  <footer>
    <section class="footer--section">
      <div class="footer--div">
        <div class="footer--logo">
          <img class="logo--footer" src="/images/logo.svg" alt="">
          <div class="footer__barra--lista">
            <h2>Seguinos</h2>
            <h2>Contactos</h2>
            <h2>Métodos de pago</h2>
          </div>
          <div class="footer__section--div">
            <div class="footer--redes">
              <ul class="lista--redsocial">
                <li><a href=""><img src="/images/facebook 1.svg" alt="facebook"><span>@TechMaster</span></a></li>
                <li><a href=""><img src="/images/instagram 1.svg" alt="instagram"><span>@TechMaster</span></a></li>
                <li><a href=""><img src="/images/twitter 1.svg" alt="twitter"><span>@TechMaster</span></a></li>
              </ul>
            </div>
            <div class="footer--contactos">
              <ul class="lista--contactos">
                <li><a href=""><img src="/images/whatsapp 1.svg" alt="whatsapp"><span>+12 123 1234567</span></a></li>
                <li><a href=""><img src="/images/Ubicacion.svg" alt="Ubicacion"><span>Calle Falsa 123</span></a></li>
                <li><a href=""><img src="/images/Correo.svg" alt="Correo"><span>TechMaster@gmail.com</span></a></li>
              </ul>
            </div>
            <div class="footer--metodosDePago">
              <img src="/images/Mastercard.png" alt="">
              <img src="/images/Visa.png" alt="">
              <img src="/images/RapiPago.png" alt="">
              <img src="/images/PayPal.png" alt="">
              <img src="/images/Naranja.png" alt="">
              <img src="/images/MercadoPago.png" alt="">
            </div>
          </div>
    </section>

  </footer>
</body>

</html>