/* *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
} */

.boby__view__carrito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
} 

.mainCarrito{
    padding: 5px;
    background-color: rgba(28, 28, 28, 1);
    height: 100%;
}
.mainCarrito h1{
    color: white;
    margin:0vw 2vw 0vw 2vw;
    font-size: 25px;
}

.mainCarrito section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleCarrito{
    margin:2vw 2vw 0 2vw ;
    background: linear-gradient(#390b25, #523848);
    width: 95%;
    display: flex;
}
.articleCarrito img{
    width: 150px;
    height: 150px;
    padding: 10px;
}

.articleCarrito div{
    color:white;
    font-size: 18px;
    padding: 10px;
    width: 94%;
    display: flex;
    flex-direction: column;
}
.articleCarrito div h1{
    border-bottom: 1px white solid;
    font-size: 1rem;
}
.articleCarrito div h2{
    font-size: 1rem;
    align-self: flex-end;
}

.articleCarrito div div{
    font-size: 0.6rem;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
}

.articleCarrito div div button{
    max-width: 150px;
    width: 101%;
    border: none;
    border-radius: 10px;
    padding: 9px;
    background-color: #706e6e;
    color: hsl(0deg 0% 0%);
}
.articleCarrito div div button:hover{
    background-color: #4d4d4d;
}

.articleCarrito div div  input{
    width: 50px;
    border-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 9px 0px 9px 9px;
    background-color: #706e6e;
    /* color: var(--colorGranate); */
}






.totalCarrito{
    margin:2vw;
    background: linear-gradient(#390b25, #523848);
    width: 95%;
    display: flex;
}
.totalCarrito img{
    width: 35%;
    height: 81%;
    padding: 10px;
}

.totalCarrito div{
    color:white;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.totalCarrito div h1{
    border-bottom: 1px white solid;
    font-size: 1rem;
}
.totalCarrito div h2{
    font-size: 1rem;
    align-self: flex-end;
}

.totalCarrito div div{
    font-size: 0.6rem;
    margin: auto 0;
    display: flex;
    gap: 2vw;
}

.totalCarrito div div button{
    width: 150px;
    background-color: rgb(255 255 255);
    border-style: none;
    padding: 5px;
    border-radius: 5px;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    align-self: end;
}

@media (max-width:767px) {
    
    .articleCarrito div div{
        font-size: 0.6rem;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 18px;
    }
    .articleCarrito div div button{
        max-width: 150px;
        width:100%;
        border: none;
        border-radius: 10px;
        padding: 9px;
        background-color: white;
        color: var(--colorGranate);
    }
    .articleCarrito div div  input{
        width: 30px;
        border-style: none;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        border: none;
        border-radius: 10px;
        padding: 9px 0px 9px 9px;
        background-color: white;
        color: var(--colorGranate);
    }

    
}


