.carrito .body__view__carrito{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
/*     min-height: 100vh; */
} 

#mainCarrito{
    /* padding: 5px; */
    /* background-color: var(--colorGranate); */
    /* background: #212121; */
    /* color: white; */
    /*
    background-image: url('../Images/cartcolor.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    /* width: 100vw; */
    padding: 0;
    margin: 0;
}
.carrito #mainCarrito h1{
    color: white;
    /* margin:0vw 2vw 0vw 2vw; */
    font-size: 25px;
}

.carrito #mainCarrito section{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    color: white; */
}

#card-carrito{
    background-color: var(--escalaDeGrises);
}

 #articleCarrito{
    background-color:var(--escalaDeGrises) ;
    width: 95%;
    display: flex;
    max-width: 570px;
    border-radius: 5px;
    margin: 0vw 2vw 2vw 2vw;
    box-shadow: 0px -1px 13px 5px rgb(0 0 0 / 34%);
    color: white;
}/*
.carrito .articleCarrito img{
    width: 140px;
    margin: 10px;
    border-radius: 5px;
    max-height: 140px;
}

.carrito .articleCarrito div{
    color: var(--escalaDeGrises);
    font-size: 18px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.carrito .articleCarrito div h3{
    border-bottom: 1px var(--escalaDeGrises) solid;
    color: white;
}
.carrito .articleCarrito div h2{
    
    align-self: flex-end;
}
.carrito .articleCarrito div h4{}


.carrito .articleCarrito div div{
    font-size: 0.6rem;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
    color: white;
}

.carrito .articleCarrito div div button{
    background-color: white;
    max-width: 150px;
    width: 101%;
    padding: 9px;
    color: var(--colorGrisOscuro);
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 1PX solid  transparent;
}
.carrito .articleCarrito div div a button:hover{
    background-color: var(green);}

.carrito .articleCarrito div div  input{
    width: 50px;
    border-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    
    border-radius: 5px;
    padding: 6px 0px 6px 6px;
    
    text-align: center;
    font-size: 20px;
}


.carrito .totalCarrito{
    margin: 0vw 2vw 2vw 2vw;
    background: #4d4d4d;
    width: 95%;
    display: flex;
    max-width: 570px;
    border-radius: 10px;
    box-shadow: 0px -1px 5px 3px rgb(255 255 255 / 34%);
}
.carrito .totalCarrito img{
    width: 35%;
    height: 81%;
    padding: 10px;
}

.carrito .totalCarrito div{
    color:white;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.carrito .totalCarrito div h1{
    border-bottom: 1px white solid;
    font-size: 1.5rem;
}
.carrito .totalCarrito div h2{
    align-self: flex-end;
}

.carrito .totalCarrito div div{
    font-size: 0.6rem;
    margin: auto 0;
    display: flex;
    gap: 2vw;
} 

.carrito .totalCarrito div div button{
    background-color: white;
    max-width: 150px;
    width: 100%;
    align-self: self-end;
    padding: 9px;
    color: var(--colorGrisOscuro);
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    border: 1PX solid  transparent;
}*/
.carrito #cart-card{
    height:fit-content;
    top:20px;
    color:white;
    background-color:var(--escalaDeGrises);
    /* padding: 2px 20px; */
    /* box-shadow: 0px -1px 5px 3px rgba(255, 255, 255, 0.186); */
    /* font-size: 18px;
    width: 100vw;
    display: flex;
    flex-direction: column; */
}
.carrito #clear-cart {
    border: solid 2px rgb(144, 29, 29);
    background-color: rgb(144, 29, 29);
    color: white;
    transition: background-color 200ms, color 200ms;
  }

.carrito #clear-cart:hover {
    border: solid 2px rgb(109, 24, 24);
    background-color: rgb(109, 24, 24);
    color: white;
  }
  .carrito #btn-buy{
    background-color:rgb(50, 144, 29) ;
    border: solid 2px rgb(50, 144, 29);
    color: white;
    transition: background-color 200ms, color 200ms;
  }
  .carrito #btn-buy:hover {
    border: solid 2px rgb(34, 98, 19);
    background-color: rgb(34, 98, 19);
    color: white;
  }
  .carrito #btn-keep-looking{
    transition: background-color 200ms, color 200ms;
    border: solid 2px rgba(255, 255, 255, 0.712);
    
  }
  .carrito #btn-keep-looking:hover {
    background-color: rgb(255, 255, 255);
    color: var(--escalaDeGrises);
    font-weight: 610;
  }
  .carrito #total{
    font-weight: 500;
    font-size: 18px;
  }
  .carrito .card-body{
    /* justify-content: end; */
    /* padding: 11px; */
    /* text-align: center; */
  }
  #mainCarrito-div{
    background-color: var(--colorGranate);
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  #moreQuantity{
  }
@media (max-width:767px) {
    /* .articleCarrito{
        flex-direction: column;
    }
    .carrito .articleCarrito img{
        width: 140px;
        align-self: center;
    } */

}


