.estaCreacion{display: flex;justify-content: center;background: gray;}
.estaCreacion form{
    width: 500px;
    background-color: darkgrey;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    margin: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}
.estaCreacion form div{
    border:1px solid red;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.esteTitulo{}

.inputCategoria{}

.inputColor{}


