
.dashboard_main{
    background-color: #734f73;
}
.esteDashboard {
    display: flex;
}

.dashboard_div_sector1 {
    display: flex;
    height: 30px;
}

.dashboard_div_small {
    background-color: antiquewhite;
    display: inline-block;
    border: 1px solid black;
    width: 32px;
    height: 30px;
    overflow: hidden;
    text-align: center;
}
.dashboard_div_small i{
    color: black;
}

.dashboard_div_big {
    background-color: antiquewhite;
    display: inline-block;
    border: 1px solid black;
    min-width: 100px;
    width: 100px;
    height: 30px;
    overflow: hidden;
} 


.dashboard_img_foto {
    width: 100%;
}

.dashboard_p_text {
    margin-bottom: 4px;
}

@media(max-width: 320px){
    .dashboard_div_secundary{
        display:none
    }
}