* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* justify-content: center; */
}


.detalle__main {
    background-color: var(--colorGrisOscuro);
    color: #FFF;
}


.detalle__section {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalle__section h3 {}

.carousel-item {
    display: flex;
    justify-content: center;
}

.card {
    scroll-snap-align: start;
    border-radius: 30px;
    min-height: 200px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    background: none;
    background-color: rgb(82, 206, 45);
}


.carousel-item {
    height: 35vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: flex;
    align-items: center;
}


.carousel-item img {
    width: auto;
    height: 60%;
}

.detalle__info {
    padding: 20px 10px;
}

.detalle__info p {
    color: #00a650;
    padding-top: 10px;

}

.detalle__info span {
    display: block;
}

.detalle__price {
    font-weight: 400;
    font-size: 23px;

}

.container__buttons {
    display: flex;
    padding-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
}

.box__button-editar {
    text-align: center;
    width: 20%;
}

.box__button-editar button {
    border: none;
    background-color: rgb(8, 122, 244);
    color: white;
    padding: 8px;
    border-radius: 6px;
    width: 150px;
    cursor: pointer;
}

.box__button-eliminar {
    text-align: center;
    width: 20%;
}

.box__button-eliminar button {
    border: none;
    background-color: var(--colorGranate);
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    width: 150px;
}

.box__button-comprar {
    text-align: center;
    padding-bottom: 10px;

}

.box__button-comprar button {
    border: none;
    background-color: var(--colorGranate);
    color: white;
    padding: 10px;
    border-radius: 6px;
    width: 43%;
    cursor: pointer;
}

.box__button-agregar {
    text-align: center;
    padding-bottom: 15px;
}

.box__button-agregar button {
    border: none;
    background-color: #E6E1E1;
    color: var(--colorGranate);
    padding: 10px;
    border-radius: 6px;
    width: 95%;
    cursor: pointer;
}

.detalle__section-description hr {
    display: block;
}

.detalle__section-description span {
    padding: 35px 10px 5px 10px;
    text-transform: uppercase;
    display: block;
}

.detalle__section-description p {
    padding: 10px;
}





.detalle__title-relacionados h4 {
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-left: 10px;
}

.detalle__main-productos {
    /* padding: 10px; */
}

/* .detalle__main-productos .detalle-items{margin: 0 5px;} */

#detalle-items img {
    width: auto;
}

#detalle-items {
    margin: 7px;
    border-radius: 5px;
    background: #FFF;
    color: #000;
}

.btn-primary {
    background-color: var(--colorGranate);
    border: none;
}

#carouselExample {
    display: flex;
    width: 100%;
}

.card-text {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-body {
    width: 100%;
    margin-left: 25px;
}

.button-buy{
    margin-bottom: 10px;
}

@media (min-width:768px) {
    .carousel-item img {
        width: auto;
        height: 100%;
    }
}