.boby__view__edicion{}
.mainEdicion{
   /*  background-color: rgba(28, 28, 28, 1); */
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-image:url('../Images/setup4.jpg');background-repeat: no-repeat;background-size: cover;
}
.titulo{
    color: white;
}
.mainEdicion h1{/* color: #282626; */}
.mainEdicion form{
    /* max-width: 443px; */
    /* background-color: lightgrey; */
    background-color: rgb(255 255 255 / 57%);
    border-radius: 5px;
    padding: 10px;
    color: #282626;
    font-size: 1.5rem;
    max-width: 490px;
    min-width: 300px;
    font-weight:700;
}
.mainEdicion form h1{
    font-size: smaller;
    margin-top: 18px;
}
.mainEdicion form input{
}
.texto{
    width: 265px;
}

.numero{
    width: 131px;
    text-align: end;
}
.selector{
    color: #202122;
    border:none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight:700;
}
.foto{width: 281px;}

.boton{
    background-color: lightgrey;
    border-radius: 5px;
    margin: 15px 15px 0px 15px;
    padding: 5px;
    color: #282626;
    font-weight:700;
    width: 162px;
}
.opcion{
    font-size: smaller;
}
.boton:hover{
    background-color: rgb(167, 167, 167);
}

.mainEdicion{}
.edicion_Titulo{color: white;}
.edicion_formulario{}
.edicion_entradaNombre{}
.edicion_tituloCategorias{}
.edicion_menuSelector{}
.edicion_opcionSelector{}
.edicion_tituloPrecio{}
.edicion_entradaPrecio{
    width: 140px;
}
.edicion_tituloDescuento{}
.edicion_entradaDescuento{
    text-align: end;
    width: 140px;
}
.edicion_tituloDescripcion{}
.edicion_entradaDescripcion{
    width: 280px;
}
.edicion_tituloFoto{}
.edicion_entradaFoto{
    width: 280px;
}
.edicion_boton{}



