.footerBox{
    background-color: var(--escalaDeGrises);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
}
.footerBox p{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
}
.footerLogo{width: 80px;}
.footerDiv a{
    display: flex;
    margin: 5px;
    gap: 5px;
    text-decoration: none;
    justify-content: flex-start;
}
.footerDiv a:hover{text-decoration: none;}
.footerDiv a div{color:white;}
.footerMetodosDePago{width: 250px;}
@media(max-width: 767px){
    .footerBox p{font-size: 1rem;}
    .footerLogo{display: none;}
    .footerMetodosDePago{display: none;}
    .footerDiv a div{display: none;}
    .iconBox{display: flex;}
}