*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.footer{
    background-color: var(--escalaDeGrises);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer--div{
    display: flex;
    padding-bottom: 25px;
    padding-top: 13px;
    align-items: center;
    flex-direction: column;
}

.logo--footer{
    display: none;
}

.span{
    display: none;
}

.footer--redes{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    gap: 20px;
    padding-right: 10px;
}


.footer__section--div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__barra--lista{
    display: none;
}

.header--redes{
    display: flex;
    list-style: none;
    gap: 5rem;
}

.footer--contactos{
    display: flex;
    gap: 20px;
    padding-left: 10px;
}

.footer--contactos a{
 color: white;
}

.footer--metodosDePago{
    display: none;
}

.lista--redsocial{
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.lista--redsocial a {
display: flex;
color: white;
text-decoration: none;
text-align: center;
align-items: center;
gap: 5px;
}

.lista--contactos{
    display: flex;
    list-style: none;
    gap: 20px;
}

.lista--contactos a {
    display: flex;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    gap: 5px;
    }

@media(min-width: 768px){


    .logo--footer{
        position: absolute;
        display: flex;
        left: 16px;
        width: 9%;
        padding-bottom: 2rem;
    }

    .footer--section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 34px;
    }


    .header--redes {
        display: flex;
        list-style: none;
        gap: 2rem;
        margin: 0px;
    }

    .footer{
        background-color: var(--escalaDeGrises);
        height: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer--redes{
    display: flex;
    gap: 4px;
    flex-direction: column;
    }

    .footer__section--div{
        font-family: 'lato', sans-serif;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        gap: 27px;
        align-items: center;
    }

    .footer--logo{
        display: flex;
        align-items: center;
        gap: 0px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer__barra--lista{
        display: flex;
        gap: 111px;
        padding-right: 23px;
        padding-left: 6rem;
        padding-bottom: 13px;
    }

    .span{
        display: flex;
    }

    .header--redes span{
        display: none;
    }

    .footer__barra--lista h2{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    }
    
    .footer--contactos{
        display: flex;
        gap: 4px;
        align-items: center;
        flex-direction: column;
    }
    
    .footer--contactos a{
     color: white;
    }
    
    .footer--metodosDePago{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        height: 19%;
        gap: 7px;
    }

    .footer--metodosDePago img{
        display: flex;
        width: 26%;
    }

    .footer__barra--list .footer__section--div{
        display: flex;
    }

    .lista--redsocial{
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 8px;
    }

    .lista--redsocial a {
    display: flex;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    gap: 5px;
    }

    .lista--contactos{
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 8px;
    }

    .lista--contactos a {
        display: flex;
        color: white;
        text-decoration: none;
        text-align: center;
        align-items: center;
        gap: 5px;
        }

}

@media(min-width: 1024px){
    .logo--footer{
        position: absolute;
        display: flex;
        left: 2rem;
        width: 7%;
        padding-bottom: 0rem;
    }

    .footer--section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 35px;
    }

    .header--redes {
        display: flex;
        list-style: none;
        gap: 13px;
        align-items: center;
    }

    .header--redes a{
        display: flex;
        font-family: 'lato', sans-serif;
        color: white;
        text-decoration: none;
        text-align: center;
        align-items: center;
        gap: 5px;
        }
    .header--redes span{
        display: flex;
        font-size: 13px;
        flex-wrap: wrap;
        width: 89px;
    }
    

    .footer--redes{
    display: flex;
    gap: 4px;
    flex-direction: column;
    }

    .footer__section--div{
        font-family: 'lato', sans-serif;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        gap: 6rem;
        align-items: center;
    }

    .footer--logo{
        display: flex;
        align-items: center;
        gap: 0px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer__barra--lista{
        display: flex;
        gap: 12rem;
        padding-right: 44px;
        padding-left: 7rem;
        padding-bottom: 13px;
    }

    .footer__barra--lista h2{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    }
    
    .footer--contactos{
        display: flex;
        gap: 4px;
        align-items: center;
        flex-direction: column;
    }
    
    .footer--contactos a{
     color: white;
    }
    
    .footer--metodosDePago{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        height: 19%;
        gap: 7px;
    }

    .footer--metodosDePago img{
        display: flex;
        width: 24%;
    }

    .footer__barra--list .footer__section--div{
        display: flex;
    }

    .lista--redsocial{
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 8px;
    }

    .lista--redsocial a {
    display: flex;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    gap: 5px;
    }

    .lista--contactos{
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 8px;
        padding: 0px;
    }

    .lista--contactos a {
        display: flex;
        color: white;
        text-decoration: none;
        text-align: center;
        align-items: center;
        gap: 5px;
        }

}