.home--header {
    background-color: var(--escalaDeGrises);
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.TechmasterHomeLink{
    display: flex;
    align-items: center;
}
.TechmasterHomeLink i{
    color: white;
    text-decoration: none;
    
}
.TechmasterHomeLink:hover {
    text-decoration: none;
    
}

.TechmasterIsotipo {
    width: 50px;
    margin: 10px 10px 0px 0px;
}

.TechmasterLogotipo {
    width: 200px;
}

.search {
    display: flex;
    margin: 0px 5px 0px 0px;
    justify-content: center;
}

.search input {
    display: flex;
    background-color: white;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
}

.Filter {
    display: flex;
    border: none;
    padding: 10px;
}
.specialOption{}

.lupa {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: gray;
}

.home__header__barra--nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header--barra {
    display: flex;
    background-color: var(--colorGranate);
    font-size: 1.3rem;
    gap: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.header--barra li a:hover::before {
  transform: scale(1.1);
}

.header--barra li a:hover {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
}

.header--barra li {
    height: 2rem;
    min-width: 50px;
    color: white;
}

.ulContactos {
    display: flex;
    background-color: var(--colorGranate);
    font-size: 1.3rem;
    gap: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.ulContactos li {
    min-width: 50px;
}

.ulContactos li a {
    color: white;
    text-decoration: none;
}
.ulContactos li a:hover::before {
  transform: scale(1.1);
}

.ulContactos li a:hover {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
}
.header--barra li a{
    color: white;
    text-decoration: none;
}
.header--barra li a:hover{
    text-decoration: none;
}
.header--barra li a.activo {
    border-bottom: 3px solid white;
}
.magicListTrick{display: none;}

@media(max-width: 1023px) {
    .ulContactos {
        display: flex;
    }

    .TechmasterIsotipo {
        display: none;
    }
    .TechmasterLogotipo {
        margin: 15px;
    }
    
}
@media(max-width: 767px){
    .TechmasterLogotipo {
        display:none;
    }
    .TechmasterIsotipo {
        display: block;
        margin: 10px 10px 0px 0px;
    }
    .search input {
        width: 100px;
    }
    #specialOption{
        display:none;
    }
    
    .magicList{display: none;}
    .header--barra {
        display: flex;
        background-color: var(--colorGranate);
        font-size: 1rem;
        gap: 0.6rem;
        height: 35px;
        padding: 0.6rem;
    }
    
}





/* ================================================== */

.dropdown {
    position: relative;
}

.dropdown button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 15px;
    width: auto;
    height: 47px;
    color: #f9f9f9;
    background: transparent;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

.dropdown>button {
    position: relative;
    z-index: 2;
    /* background: rgba(0, 0, 0, 0.45); */
    transition: 0.3s;
}

.menu {
    position: absolute;
    overflow: hidden;
    z-index: 4;
    width: 100%;
    height: auto;
    opacity: 0;
    transform-origin: 100% 0%;
    scale: 0;
    visibility: hidden;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.90);
    transition: 0, 4s;
}

.dropdown.open .menu {
    scale: 1;
    right: 0;
    top: 72px;
    opacity: 1;
    visibility: visible;
}

.menu button {
    border: 0;
    width: 100%;
    height: 56px;
    border-radius: 0;
}

.menu button:hover {
    background: rgba(0, 0, 0, 0.26);
}

.chevron {
    /* margin-left: auto; */
    transition: 0.4s;
}

.dropdown.open .chevron {
    rotate: -180deg;
}


#menu_icon {
    font-weight: 900;
}