.button1 {
    width: 113px;
    border: solid 3px #cfff00;
    background-color: #0000003b;
    padding: 3px 20px 3px 20px;
    font-weight: 600;
    border-radius: 5px;
    color: #cfff00;
    position: initial;
    margin-bottom: 10px;
    /* left: 120px; */
}

.home__main {
    background-color: var(--colorGrisOscuro);
    padding: 0px 5px 0px 5px;
}

.main--section-s {
    /* margin-top: 10px; */
}

.glider-track {
    gap: 10px;
}

.boby__view__home {
    display: flex;
    background-color: rgba(28, 28, 28, 1);
    flex-direction: column;
    width: 100%;
}

.carousel-item {
    height: 35vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.carousel-inner {
    background: linear-gradient(-243deg, #43e91a, #40cab3, #4823ec);
}

.carousel-item h3 {
    display: flex;
    font-size: 33px;
    color: #ffffff;
    justify-content: flex-end;
}

.carousel-item h2 {

    display: flex;

    justify-content: flex-end;

    font-size: 40px;

}

.carousel-item h1 {

text-shadow: 3px 1px 3px hwb(0deg 0% 100%);

display: flex;

justify-content: flex-end;

font-size: 54px;
}

.carousel-item button {
    display: flex;
    margin-left: 85%;
    border: none;
    background-color: #ef3a7c;
    padding: 11px;
}

.carousel-item button a {

    color: #fff;

    text-decoration: none;
}


.card-columns .card {
    display: inline-block;
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 200px !important;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.main__div--info {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding-top: 10px;
}

.main__ul--info {
    display: flex;
    background-color: var(--colorVioleta);
    align-items: center;
    justify-content: space-around;
}

.main__ul--info img {
    /* display: flex; */
    gap: 30px;
    /* margin: 0px; */
    width: 72%;
}

.main__info--icon span {
    display: none;
}

.main__info--icon li {
    display: flex;
}

.main__info--icon img {
    width: 70%;
}

.main__info--icon span {
    display: flex;
    font-size: 5px;
}

.main__image--card {
    display: none;
}

.main__image--card2 {
    display: none;
}



.conteudo {
    display: flex;
}

.carrousel {
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    overflow: auto;
    scrollbar-width: none;
    padding-bottom: 33px;
    grid-auto-flow: column;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: start;
}

.carrousel img {
    height: 20vh;
    background: no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.carrousel::-webkit-scrollbar {
    display: none;
}

.card {
    scroll-snap-align: start;
    border-radius: 30px;
    min-height: 200px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .card:nth-child(1) {
    background: linear-gradient(-229deg, #fbd52d, #ef3a7c);
}

.card:nth-child(2) {
    background: linear-gradient(-229deg, #FF70AF, #5fa8f5);
}

.card:nth-child(3) {
    background: linear-gradient(-229deg, #0cebeb, #29ffc6);
}

.card:nth-child(4) {
    background: linear-gradient(-229deg, #88F7F9, #048FFF);
}

.card:nth-child(5) {
    background: linear-gradient(-229deg, #0093E9, #80D0C7);
}

.card:nth-child(6) {
    background: linear-gradient(-229deg, #cf91ff, #5782F5);
}

.card:nth-child(7) {
    background: linear-gradient(-229deg, #642B73, #C6426E);
} */

.card h3 {
    position: absolute;
    display: flex;
    top: -1px;
    right: -1px;
    background-color: #000000fd;
    color: #FFF;
    font-family: 'lato', sans-serif;
    font-size: 21px;
    border-radius: 0px 3px 0px 4px;
    margin: 0px;
    padding: 6px;
}

.card p {
    color: #FFF;
    font-size: 20px;
}

.card button {
    border: solid 3px #cfff00;
    background-color: #0000003b;
    padding: 3px 20px 3px 20px;
    /* font-family: 'lato',sans-serif; */
    font-weight: 600;
    border-radius: 5px;
    color: #cfff00;
    margin-bottom: 10px;
}

.button--carrusel a {
    color: #fff300;
    padding: 10p;
}

.card-carrousel p {
    max-width: 200px;
    text-shadow: 3px 1px 3px hwb(0deg 0% 100%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#button--carrusel {

bottom: 10px;

/* left: 10px; */

border: solid 3px #cfff00;

background-color: #0000003b;

padding: 3px 20px 3px 20px;

font-family: 'lato', sans-serif;

font-weight: 600;

border-radius: 5px;

/* position: absolute; */

color: #cfff00;

margin-bottom: 10px;

text-decoration: none;
}


@media (min-width: 768px) {
    .main--section-s {
        display: flex;
        align-items: center;
        gap: 15px;
        /* margin-top: 10px; */
    }

    .carousel {
        width: 51%;
    }

    .carousel-item {
        height: 30vh;
        min-height: 400px;
        background: no-repeat center center scroll;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }

    .carousel-item h3 {
        position: absolute;
        display: flex;
        font-size: 32px;
        color: #ffffff;
        top: -10rem;
    }

    .carousel-item button {
        display: flex;
        margin-left: 66%;
        border: none;
        background-color: #ef3a7cbd;
        padding: 11px;
    }

    .main--info {
        font-size: 20px;
    }

    .main__ul--info img {
        display: flex;
        margin: 0px;
    }

    .main__div--info span {
        display: flex;
        font-size: 16px;
        font-family: 'lato', sans-serif;
    }


    .image--lado {
        position: relative;
        height: 22vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        min-width: 14.7rem;
        min-height: 12.2rem;
    }

    .image--lado2 {
        height: 22vh;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-width: 21.7rem;
        min-height: 12.2rem;
    }

    .image--lado img {
        max-width: 180px;
        width: 50%;
        position: absolute;
        z-index: 3;
    }

    .image--lado2 img {
        width: 65%;
    }

    .image--abajo img {
        width: 33%;
    }

    .main__image--card {
        display: flex;
        gap: 12px;
        width: 48%;
        flex-direction: column;

    }

    .main__image--card2 {
        display: flex;
        gap: 12px;
        width: 100%;
        flex-direction: column;
    }

    .main__image--card3 {
        display: none;
        align-items: flex-end;
        gap: 20px;
    }

    .image--lado h2 {
        position: absolute;
        display: flex;
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 700;
        left: 10px;
        color: #FFF;
    }

    .image--lado span {
        position: absolute;
        display: flex;
        font-size: 21px;
        top: 31px;
        left: 21px;
        color: #FFF;
    }

   
    .button2 {
        position: absolute;
        display: flex;
        border: none;
        background-color: #ef3a7cbd;
        padding: 5px;
        top: 9.5rem;
        right: 13rem;
    }

    .button3 {
        display: none;
    }

    

}

@media (min-width: 1024px) {

    .home__main {
    padding-top: 21px;
}

    .main--section-s {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .carousel {
        width: 51%;
    }

    .carousel-item {
        height: 30vh;
        min-height: 400px;
        background: no-repeat center center scroll;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }

    .carousel-item h3 {
        position: initial;
        display: flex;
        font-size: 32px;
        color: #ffffff;
    }

    .carousel-item button {
        display: flex;
        margin-left: 66%;
        border: none;
        background-color: #ef3a7cbd;
        padding: 11px;
    }

    .main--info {
        font-size: 20px;
    }

    .main__ul--info img {
        display: flex;
        margin: 0px;
    }

    .main__div--info span {
        display: flex;
        font-size: 16px;
        font-family: 'lato', sans-serif;
    }


    .image--lado {
        position: relative;
        height: 22vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        min-width: 14.3rem;
        min-height: 12.2rem;
    }

    .image--lado2 {
        height: 22vh;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-width: 14.3rem;
        min-height: 12.2rem;
    }

    .image--lado3 {
        height: 22vh;
        width: 98%;
        display: flex;
        justify-content: center;
        min-width: 14.3rem;
        min-height: 12.2rem;
        align-items: flex-end;
    }

    .image--lado img {
        max-width: 180px;
        width: 50%;
        position: absolute;
        z-index: 3;
    }

    .image--lado2 img {
        width: 39%;
    }

    .image--lado3 img {
        width: 59%;
    }

    .main__image--card {
        display: flex;
        gap: 12px;
        /* height: -26vh; */
        width: 47%;
        height: 0;
    }

    .main__image--card2 {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }

    .main__image--card3 {
        /* overflow: hidden; */
        display: flex;
        gap: 12px;
        flex-direction: column;
    }

    .direction {
        display: flex;
        gap: 3px;
    }

    .image--lado h2 {
        /* position: absolute; */
        /* display: flex; */
        text-shadow: 3px 1px 3px hwb(0deg 0% 100%);
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 700;
        left: 9px;
        top: 0;
        color: #FFF;
    }

    .image--lado span {
        /* position: absolute; */
        overflow: hidden;
        display: flex;
        font-size: 21px;
        top: 31px;
        left: 9px;
        color: #ffff;
    }

    .image--lado3 h2 {
        position: absolute;
        display: flex;
        text-shadow: 3px 1px 3px hwb(0deg 0% 100%);
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 700;
        left: 9px;
        top: 0;
        color: #FFF;
    }

    .image--lado3 span {
        position: absolute;
        display: flex;
        font-size: 21px;
        top: 31px;
        left: 9px;
        color: #ffff;
    }

    

    .button2 {
        position: absolute;
        display: flex;
        border: none;
        background-color: #ef3a7cbd;
        padding: 5px;
        top: 9.5rem;
        right: 5rem;
    }

    .button3 {
        position: absolute;
        display: flex;
        border: none;
        background-color: #ef3a7cbd;
        padding: 5px;
        top: 9.5rem;
        right: 6rem;
    }

    /*         .button1 a{
            color: #fff300;
        }


        .button2 a{
            color: #fff300;
        }

        .button3 {
            color: #fff300;
        } */

}



