.boby__view__resultados{
    display: flex;
    /* justify-content: space-between; */
    min-height: 100vh;
    flex-direction: column;
} 

.mainResultados{
    padding: 5px;
    background-color: dimgray;
    height: 100%;
}
.mainResultados h1{
    color: white;
    /* margin:0vw 2vw 0vw 2vw; */
    font-size: 25px;
}

.mainResultados section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleResultados{
    margin: 0vw 2vw 2vw 2vw;
    background: #cfcfcf;
    width: 95%;
    display: flex;
    max-width: 570px;
    border-radius: 5px;
}
.articleResultados img{
    width: 140px;
    margin: 10px;
    border-radius: 5px;
    max-height: 140px;
}

.articleResultados div{
    color: var(--escalaDeGrises);
    font-size: 18px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.articleResultados div h3{
    border-bottom: 1px var(--escalaDeGrises) solid;
    color: var(--escalaDeGrises);
}
.articleResultados div div{}
.articleResultados div div h2{
    
    align-self: flex-end;
}
.articleResultados div div h4{}

.precioYOferta{
    justify-content: space-between
}


.articleResultados div div{
    font-size: 0.6rem;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
}

.articleResultados div div button{
    background-color: white;
    max-width: 150px;
    width: 101%;
    padding: 9px;
    color: var(--colorGrisOscuro);
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 1PX solid  transparent;
}
.articleResultados div div a button:hover{
    background-color: var(green);}

.articleResultados div div  input{
    width: 50px;
    border-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    /* border-style: solid; */
    border-radius: 5px;
    padding: 6px 0px 6px 6px;
    /* background-color: lightgray; */
    text-align: center;
    font-size: 20px;
}



@media (max-width:767px) {
    .articleResultados{
        flex-direction: column;
    }
    .articleResultados img{
        width: 140px;
        align-self: center;
    }
    
}


