.boby__view__resultados{
    display: flex;
    /* justify-content: space-between; */
    min-height: 100vh;
    flex-direction: column;
} 
.div-main-resultados-capa{
    background-color: var(--escalaDeGrises);
    
    background-image: url('../Images/giphy8.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
.mainResultados{
    /* background-color: rgb(150 150 150); */
    min-height: 100vh;
    background-color: var(--colorGranate);
}
.mainResultados h1{
    color: white;
    /* margin: 10px  0px 10px 20px; */
    font-size: 25px;
    padding: 18px;
}

.mainResultados section{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.articleResultados{
    margin: 0vw 2vw 2vw 2vw;
    display: flex;
    max-width: 570px;
    width: 450px;
    border-radius: 5px;
    align-items: flex-start;
    min-height: 190px;
    /* background: linear-gradient(-229deg, #2ddefb, #ff00bc); */
    align-content: center;
    justify-content: center;
    /* background-color: var(--colorGrisOscuro); */
}
.articleResultados span{
    display: contents;
}
.articleResultados span img{
    width: 140px;
    margin: auto;
    text-shadow: 0px 0px 12px white;
}

.articleResultados div{
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 187px;
}

.articleResultados div h3{
    border-bottom: 1px solid;
    /* color: var(--escalaDeGrises); */
}
.articleResultados div div{}
.articleResultados div div h2{
    align-self: flex-end;
    color: #ffffff;
    text-shadow: 0px 1px 3px #cbe4ff;
}
.articleResultados div div h4{
    color: #ffffff;
    text-shadow: 0px 1px 9px #8c83ff;
}

.precioYOferta{
    justify-content: space-between
}


.articleResultados div div{
    font-size: 0.6rem;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
    align-items: flex-end;
}

.articleResultados div div button{
    cursor: pointer;
    border: solid 3px #cfff00;
    background-color: #0000003b;
    padding: 3px 20px 3px 20px;
    font-family: 'lato',sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    /* 


    background-color: white;
    max-width: 150px;
    width: 101%;
    padding: 9px;
    color: var(--colorGrisOscuro);
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 1PX solid  transparent; */
    color: #cfff00;
}
.articleResultados div div a button:hover{
    background-color: var(green);}

.articleResultados div div  input{
    width: 50px;
    border-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    /* border-style: solid; */
    border-radius: 5px;
    padding: 6px 0px 6px 6px;
    /* background-color: lightgray; */
    text-align: center;
    font-size: 20px;
}



@media (max-width:767px) {
    .articleResultados{
        flex-direction: column;
    }
    .articleResultados span {
        width: 100%;
        text-align: center;
    }    
    .articleResultados span img{
    width: 140px;
    margin: auto;
}

}
