*{
    /* padding: 0; */
    /* text-decoration: none; */
    /* list-style: none; */
}

.login__main{
    width: 100vw;
}

.login__main__div{
    /* background-color: var(--colorGranate); */
    background-image: url('../Images/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
#bolt{
    width: 60px;
}
.login__main__div__logo--tablet{
    display: flex;
}

.login__main__div__titulo{
    color: white;
}

.login__main__div__logo--textinfo{
    display: none;
}

.login__main__div--links{
    border: 1px solid white;
    width: 260px;
    padding: 5px 8px;
    text-align: center;
  /*   background-color: rgba(128, 128, 128, 0.13); */
}

.login__main__div--links a{
    color: white;
}

.login__main__div--links:hover a{
    color: rgb(170, 170, 170);
}

.login__main__form{
    
display: flex;
    
justify-content: center;
}

.login__main__form--logueo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.login__button{
    border: none;
    border-radius: 17px;
    padding: 8px;
    gap: 10px;
    margin: 0 3px;
}

.login__button2{
    border: none;
    border-radius: 17px;
    padding: 5px;
    gap: 10px;
    margin: 0 3px;
}

.login__main__form--text{
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.login__main__form--text h2{
    margin: 10px;
}

.login__main__form--boxes{
    border: none;
    padding: 1%;
}

.login__main__form--boxes input{
    border: none;
    border-bottom: 1px solid silver;
    margin: 2%;
    width: 90%;
    padding: 1%;
}

/* 
.login__button:hover {
    background-color: rgb(107, 34, 77) ;
    
} */

.login__main__form--buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: center;
    gap: 25px;
    font-size: 20px;
}

.login__main__form--buttons a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.login__main__form--buttons a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* 

.login__button2{
    background-color: white;
    color: black;
    width: 145px;
    border: solid 1px black;
    height: 45px;
}
.login__button{
    background-color: var(--colorGranate);
    color: white;
    width: 145px;
    height: 45px;
}

.login__button2 a{
    color: black;
}
.login__button2:hover {
    background-color: rgb(190, 188, 188);
    color: white;
}
.login__button2:hover a{
    color: white;
} */

.login__main__form--forget{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.isInvalid {
    border-bottom: 2px solid rgb(157, 0, 0);
}


@media (min-width:768px) {

    .login__main__div__logo{
        display: none;
    }

    .login__main__div__logo--tablet{
        display: block;
    }

    .login__main__form--boxes input{
        width: 400px;
    }

    .login__main__div--links{
        width: 60%;
    }

    .login__main__form--boxes{
    border: none;
    padding: 1%;
    display: flex;
}

.login__main__form--forget{
    margin-bottom: 10px;
}
.login__button2{
    background-color: white;
    color: black;
    width: 35%;
    border: solid 1px black;
    height: 90%;
}

.login__button{
    background-color: var(--colorGranate);
    color: white;
    width: 35%;
    height: 91%;
}
}
@media (min-width:1024px) {

    .login__main{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .login__main__div{
        width: 40%;
        gap: 40px;
        height: 100%;
    }

    .login__main__form--logueo{
        /* margin: auto; */
        width: 60vw;
    }

    .login__main__div__logo{
        display: none;
    }

    .login__main__div__logo--tablet{
        display: block;
    }

    .login__main__div__logo--textinfo{
        display: block;
        width: 90%;
        text-align: center;
        
    }

    .login__main__div__logo--textinfo h3{
        font-weight: 100;
        text-align: center;
    }

    .login__main__form--boxes input{
        width: 400px;
    }

    .login__main__form--forget{
        flex-direction: column;
    }
    
   
}
.eyeButton{/* position: absolute; *//* margin-left: -30px; *//* margin-top: 20px; */}