.newpassword__body{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* min-height: 100vh; */
height: 100vh;}


.newpassword__main{
    
  padding: 25px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(216, 215, 215);
  padding: 10px;
  
/* height: 100vh; */align-content: flex-start;height: inherit;justify-content: center;}

.newpassword__main h4{
   
/* margin: 10px; */padding: 10px 0;font-weight: 700;font-size: 20px;font-family: 'lato', sans-serif;width: 100vw;text-align: center;}

.newpassword__main__form--logueo{
    background-color: white;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 79vh;
}



.form__container--newpassword{
    padding: 15px 0px;
    background-color: white;
    width: 100%;
display: flex;flex-direction: column;align-items: center;border-radius: 5px;max-width: 500px;
box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


/* .form__container--newpassword:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
 */
.newpassword__main__form--boxes{
    padding: 10px 5px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 40px;
}

.newpassword__main__form--boxes input{
    background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(185, 181, 181);
  outline: none;
  padding: 3px;
  font-size: 15px;
}

.newpassword__main__form--buttons{
    text-align: center;
}

.newpassword__button{
    background-color: var(--colorGranate);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
}