.body-profile {
    background: rgb(43, 42, 42);
    font-family: "Open Sans", sans-serif;
    /* border: solid red dashed; */
    
}
.main-profile{
    height: 80%;
    display: flex;
    flex-direction: column;
}
.main__p-regresar a{
    text-decoration: none;
    color: white;
}
.main-profile h1{
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
    color: white;    
}
.main__section-profile{
    display: flex;
    flex-direction: column;
    /* background-color: var(--colorGranate); */
}
.container {
    max-width: 960px;
    margin: 0px auto;
    /* padding: 1px; */
}

.avatar-upload {
    position: relative;
    max-width: 192px;
    margin: 30px auto;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 12%);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 170px;
    height: 170px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 10%);
}

.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main__section-info{    
    display: flex;
    flex-direction: column;
    
}

.main__section-info a{
    color: white;
    text-decoration: none;
    }
.main__section-info article{
    background-color: var(--colorGranate);
    height: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 14px;
    margin: 1px 23px;
}

.main__section__article--sesion {
    
    display: flex;  
    justify-content: flex-start;  
    flex-direction: column;  
    margin: 16px 11px;
    }
.main__section__article--sesion-button {
    border: none;
    background-color: var(--colorGranate);
    color: white;
    font-size: 16px;
    display: flex;
    padding: 15px;
    }

 

@media (min-width: 768px) {
    .main__section-profile{
        display: flex;
        flex-direction: column;
        background-color: var(--colorGranate);
        margin: 10px;
    }
    .main__section-info{
       display:flex;
       flex-direction: row;
       flex-wrap: wrap;
    }

    .main__section-info article{
       display:flex;
       flex-direction: row;
       padding: 25px 131px;
       /* flex-wrap: wrap; */
       /* justify-content: flex-start; */
       /* text-align: start; */
    }
    
    .main__section__article--datos{
       margin: 10px 120px;
       padding: 25px 122px;
    }
    
    .main__section__article--sesion{
        margin: 10px 120px;
       padding: 25px 122px;
    }
    .main__section__article--sesion-button {
        
        padding: 15px;
        }
}