body#profile-page .home__header--barra{
display: none;
}
.body-profile {
    background: rgb(43, 42, 42);
    font-family: "Open Sans", sans-serif;
    /* border: solid red dashed; */
    
}
.main-profile{
    height: 80%;
    display: flex;
    flex-direction: column;
}
.main__p-regresar a{
    text-decoration: none;
    color: white;
}
.main-profile h1{
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
    color: white;    
}
.main__section-profile{
    display: flex;
    flex-direction: column;
    /* background-color: var(--colorGranate); */
}
.container {
    max-width: 960px;
    /* margin: 0px auto; */
    padding: 1px;
    text-align: left;
}

.avatar-upload {
    position: relative;
    max-width: 192px;
    margin: 30px auto;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 76px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 12%);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 10%);
}

.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main__section-profile--name{
        
    display: none;
}
.main__section-info{    
    display: flex;
    flex-direction: column;
    
}
.main__section-info-p {
    display: none;
}

.main__section-info a{
    color: white;
    text-decoration: none;
    }
.main__section-info article{
    background-color: var(--colorGranate);
    height: 10%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 14px;
    margin: 1px 23px;
    justify-content: space-between;
}
.main__section-info article:hover {
    background-color: rgb(107, 34, 77) ;
    
    
}
#main__section__article--sesion{
height: 0;
}
#main__section__article--sesion-a {
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: var(--colorGranate);
    color: white;
    width: 85%;
    justify-content: space-between;
    border: none;
    height: 0;
    }
.main__section__article--sesion-button {
    border: none;
    background-color: var(--colorGranate);
    color: white;
    font-size: 16px;
    display: flex;
    padding: 15px;
    }
 
@media (min-width: 768px) {
    .main__section-profile{
        display: flex;
        background-color: var(--colorGranate);
        margin: 21px auto;
        width: 79%;
        flex-direction: row;
    }
    .container {
        display: flex;
        padding: 1px;
    }
    
    .avatar-upload {
        display: flex;
        margin: 27px;
    }
    .main__section-profile--name{
        
        color: white;       
        display: flex;       
        justify-content: center;      
        flex-direction: column-reverse;
    }
    .main__section-info{
       display:flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       width: 100%;
    }
    .main__section-info-p {
        display: block;
    }
    .main__section-info article{
       display:flex;
       flex-direction: column;
       padding: 0 11px;
       width: 38%;
       height: 86px;
       justify-content: center;
       margin: 14px 10px;
    }
    .main__section-info p {
        color: rgba(255, 255, 255, 0.596);
     }
     .main__section__article-icon{
        display: flex;
        width: 100%;
     }
    .main__section__article--datos{
        margin: 10px 120px;
        padding: 25px 122px;
        display: flex;
    }
    #main__section__article--sesion{
        display: flex;
        width: 78%;
        height: 40px;
        margin: 19px auto;
}
    #main__section__article--sesion-a{
        width: 80%;
        display: flex;
        border: none;
        
    }
    
    .main__section__article--sesion-button { 
        padding: 15px;
        }
    .main__section__article__div--flecha{
        display: none;
     }
     .main__section-info a{
        width: 100%;       
        display: flex;      
        gap: 10px;
     }

}

@media (min-width: 1024px) {
    .main__section-profile{
        display: flex;
        flex-direction: row;
        background-color: var(--colorGranate);
        margin: 0 auto;
        width: 83%;
    }
    .container {
        display: flex;
        padding: 1px;
    }
    
    .avatar-upload {
        display: flex;
        justify-content: flex-start;
        margin: 27px;
    }
    .main__section-profile--name{
        
        color: white;        
        display: flex;      
        justify-content: center;      
        align-items: center;
    }
    .main__section-info{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }

    .main__section-info article{
        display:flex;
        flex-direction: column;
        padding: 0 30px;
       /* flex-wrap: wrap; */
       /* text-align: start; */
        width: 40%;
        height: 86px;
        align-items: flex-start;
        justify-content: center;
        margin: 16px 22px;
    }
    .main__section-info p {
        /* margin: 3px 0; */
        color: rgba(255, 255, 255, 0.596);
     }
    
    .main__section__article--datos{
        margin: 10px 120px;
        padding: 25px 122px;
        display: flex;
    }
    #main__section__article--sesion{
        
        display: flex;      
        width: 83%;     
        height: 40px;
        margin: 19px auto;
    }
    #main__section__article--sesion-a{
        width: 100%;
        display: flex;
        border: none;
    }
    .main__section__article--sesion-button {
        
        padding: 15px;
        }
    .main__section__article__div--flecha{

        display: none;
     }

}