body#profile-page .home__header--barra{
display: none;
}
.body-profile {
    background: rgb(43, 42, 42);
    font-family: "Open Sans", sans-serif;
    /* border: solid red dashed; */
    
}
.main-profile{
    color: white;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__p-regresar {
    text-decoration: none;
    color: white;
    align-self: flex-start;
    margin: 5px;
}
.profile_boxRow{
    color: white;
    display: flex;
    background-color: var(--colorGranate);
    align-items: center;
    width: 768px;
    margin-bottom: 10px;
    padding: 10px;
    gap: 10px;
    text-decoration: none;
}
.profile_box{
    display: flex;
    background-color: var(--colorGranate);
    width: 768px;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    align-items: flex-start;
}
.profile_box input{
    border: none;
    background-color: #3b0d28;
    font-size: 1rem;
    color: white;
}
.profile_box input:focus-visible{
    outline: none;
}
.profile_box p{
    border: none;
    background-color: #3b0d28;
    font-size: 1rem;
    color: white;
    width: 100%;
    margin-top: 3px;
    padding: 5px;
    border-radius: 5px;
}
.main__p-regresar{}
.profile_form{
    display: flex;
    flex-direction: column;
}
.profile_greatings{}
.profile_picture{
    width: 100px;
    margin: 5px;
    border-radius: 50%;
}

.profile_datosBox{}
.profile_titulo{margin-top: 4px;font-size: 1rem;font-weight: 600;}
.profile_subtitulo{
    margin-top: 4px;
}
.profile_input{}
.profile_buttonBox{
    display: flex;
    margin: 10px 10px 0px 10px;
    gap: 10px;
    align-self: flex-end;
}
.profile_button{
    background-color: lightgrey;
    border-radius: 5px;
    margin: 15px 15px 0px 15px;
    padding: 5px;
    color: #282626;
    font-weight:700;
    width: 162px;
}
.profile_cart{}
.profile_carrito{}
.profile_compras{}











