.register__main{
    width: 100vw;
}
    /* .register__main__section{
    
    } */
.register__main__section__article{
    
text-align: center;
    
/* margin: 1px; */
}
.register__form__header{
       /*  background-color: var(--colorGranate); */
       color: white;
       display: flex;
       justify-content: center;
       flex-direction: column;
       gap: 8px;
       align-items: center;
       padding-top: 25px;
       padding-bottom: 25px;
       flex-wrap: wrap;
       background-color: rgb(0 0 1 / 54%);
    }
    .register__main-capa{
        background-image: url('../Images/giphy4.gif');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
.register__form__header h2{
    color: white;
    }
    
.register__form__header a{
    text-decoration: none;
}
#bolt{
    width: 60px;
}
    
.register__logo--master{
        text-align: center;
        align-items: center;
        display: flex;
        /* margin: 0; */
        justify-content: center;
        padding: 10px 0px 10px 0px;
        width: 20p;
}
.register__logo {
        display: flex;
}
    
/* .register__techmater{
      display: none;
} */
.register__descripcion{
    display:none;
    text-align: center;
    width: 90%;
    padding: 2% 0;
    font-weight: 100;
}
.form__header--links{
    border: 1px solid white;
    width: 260px;
    padding: 5px 8px;
    }
.form__header--links a{
        color: white;
    }

.form__header--links:hover a{
        color: rgb(170, 170, 170);
    }
    
    .register__main--h1{
        margin-top: 5%;
    }
    
    .register__form__box input{
        
    width: 100vw;
    border: none;
    border-bottom: 1px solid silver;
    padding: 1%;
    margin: 5%;
    width: 90%;
    }
    
    .register__form__checkboxs{
        display: flex;
    }
    
    .register__form__oferta1{
        display: block;
        font-size: 12px;
        justify-content: center;
        gap: 5px;
        font-family: 'Lato', sans-serif;
    }
    
    .register__form__oferta1 label{
        display: flex;
        justify-content: center;
    }
    
    .register__form__oferta{
        display: flex;
        justify-content: center;
        font-size: 12px;
        gap: 5px;
        font-family: 'Lato', sans-serif;
    }
    
    .buttons{
        border: none;
        border-radius: 17px;
        padding: 7px;
        gap: 10px;
        margin: 0 3px;
    }
    /* .register__form__box--buttons{
    
    } */
    /* .register__form__box--buttons a{
        
    text-decoration: none;
    font-weight: 700;
    }
    .buttons__primary{
        background-color: var(--colorGranate);
        width: 35%;
        color: white;
        border:solid 1px var(--colorGranate);
    }
    .buttons__primary:hover {
        background-color: rgb(107, 34, 77) ;
        
    }
    .buttons__secondary{
        background-color: white;
        width: 35%;
        margin-bottom: 10px;
        border:solid 1px black;
        color: black;
        text-decoration: none;
    }
    .buttons__secondary a{
        color: black;
    }
    .buttons__secondary:hover {
        background-color: rgb(190, 188, 188);
        color: white;
    }
    .buttons__secondary:hover a{
        color: white;
    } */
    .register__form__box--buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: center;
        gap: 25px;
        font-size: 20px;
        margin: 30px 0;
    }
    
    .register__form__box--buttons a{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    .register__form__box--buttons a:hover{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    .register__errors{
        color: red;
        /* padding-bottom: 14px; */
    }
    .register-list-pass{
        text-align: initial;
        margin-left: 30%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
    .register-list-pass p{
        margin: 0;
        font-size: 12px;
        padding: 0;
    }
    
    .register__span{
        
color: black;
        
font-size: 0.8rem;
        
font-weight: 600;
    }
    .isInvalid input {
        border: 2px solid rgb(157, 0, 0);
    }
    #register-list-password{
        width: 70%;
        display: flex;
        margin: 0;
        padding: 0;
    }
    @media (min-width:720px)  { 

        .register__form__header{
            align-items: center;
        }
        
        .form__header--links{
            width: 60%;
        }
        .register__form__header h3{           
            font-size: 1.7rem;
        }
        .register__techmater {
            display: block;
          }
          .register__main--h1{
            font-size: 1.6rem;
          }
          .register__form__box input{
            width: 50%;
            margin: 3px;
          }

          .buttons__primary{
            width: 25%;
          }
          
          .buttons__secondary{
            width: 25%;
          }
          .register__form__box--buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: center;
        gap: 25px;
        font-size: 20px;
        margin: 30px 0;
    }
    
    .register__form__box--buttons a{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    .register__form__box--buttons a:hover{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }


    }
    
    @media (min-width:1024px) { 
        .register__main__section__article{
            display: flex;
            /* width: 50vw; */
        }
        .register__form__header{
           margin: 0;
           padding: 0;
           box-sizing: border-box;
           height: 100vh;
        }
        .form__register{
            display: flex;
            /* height: 100vh; */
            width: 100vw;
            align-items: stretch;
        }
        .register__main__form{
            display: flex;
            flex-direction: column;
            width: 40vw;
        }
        .register__main__form2{
            display: flex;
            flex-direction: column;
            width: 60vw;
            justify-content: center;
        }

        .register__main__section__article-logo{
            width: 50%;
            gap: 40px;
            height: 100%;
            
        }
        .register__techmater{
            display: block;
        }
        .register__descripcion{
            display:block;

            
        }
        .form__header--links{
            margin-top: 32px;
        }

        


     }

     

    