<footer class="footerBox" id="footer">
    <a href="/"><img class="footerLogo" src="/Images/bolt.png" alt=""></a>
    <div class="footerDiv">
      <p>SEGUINOS</p>
      <div class="iconBox">
        <a href=""><img src="/Images/facebook 1.svg" alt="facebook"><div>@TechMaster</div></a>
        <a href=""><img src="/Images/instagram 1.svg" alt="instagram"><div>@TechMaster</div></a>
        <a href=""><img src="/Images/twitter 1.svg" alt="twitter"><div>@TechMaster</div></a>
      </div>
    </div>
    <div class="footerDiv" >
      <p>CONTACTOS</p>
      <div class="iconBox" >
      <a href=""><img src="/Images/whatsapp 1.svg" alt="whatsapp"><div>+12 123 1234567</div></a>
      <a href=""><img src="/Images/Ubicacion.svg" alt="Ubicacion"><div>Calle Falsa 123</div></a>
      <a href=""><img src="/Images/Correo.svg" alt="Correo"><div>TechMaster@gmail.com</div></a>
    </div>
    </div>
    <div class="footerMetodosDePago">
      <p>MODOS DE PAGO</p>
      <img src="/Images/Mastercard.png" alt="">
      <img src="/Images/Visa.png" alt="">
      <img src="/Images/RapiPago.png" alt="">
      <img src="/Images/PayPal.png" alt="">
      <img src="/Images/Naranja.png" alt="">
      <img src="/Images/MercadoPago.png" alt="">
    </div>
</footer>