<header class="home--header">
  <div class="header-top">
    <div>
      <a class="TechmasterHomeLink" href="/">
        <img class="TechmasterIsotipo" src="/Images/bolt.png" alt="">
        <img class="TechmasterLogotipo" src="/Images/LOGO-TECHMASTER-2.png" alt="">
      </a>
    </div>
    
    <form class="search" action="/search" method="GET">
      <input type="text" name="keywords" placeholder="Buscar producto" />
      <select class="Filter" name="category" id="">
        <option id="specialOption" value="" >Filtrar</option>
        <option value="Auricular">Auricular</option>
        <option value="Monitor">Monitor</option>
        <option value="Mouse">Mouse</option>
        <option value="Teclado">Teclado</option>
      </select>
      <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
    </form>

    <div class="dropdown" id="dropdown">
      <button id="button" onclick="toggleDropdown()">
        <span class="fa-solid fa-user"></span>
        <% if (locals.userLogin) { %>
          Hola <%= locals.userLogin.name %>
            <% }else{%>
              Ingresar
              <% }%>
                <span id="chevron" class="chevron fa-solid fa-chevron-down">
                </span>
      </button>
      <div id="menu" class="menu">
        <% if (locals.userLogin) { %>
          <button onclick="window.location.href='/users/profile';" class="btn">
            <span class="fa-solid fa-lock" id="menu_icon"></span>
            Cuenta
          </button>
          <% if (locals.userLogin.rol=== 1 ) { %>
            <button onclick="window.location.href='/dashboard';" class="btn">
              <span id="menu_icon" class="fa-solid fa-gauge">
              </span>
              Dashboard
            </button>
            <% } %>
              <button onclick="window.location.href='#';" class="btn">
                <span id="menu_icon" class="fa-solid fa-location-dot">
                </span>
                Cordoba
              </button>
              <button onclick="window.location.href='/carrito';" class="btn">
                <span id="menu_icon" class="fa-solid fa-cart-shopping">
                </span>
                 Carrito  <!-- <a href="../carrito">Carrito</a> -->
              </button>
              <button onclick="window.location.href='/users/logout';" class="btn">
                <span id="menu_icon" class="fa-solid fa-right-to-bracket"></span>
                Cerrar Sesión
              </button>
              <% } else { %>
                <button onclick="window.location.href='/users/login';" class="btn">
                  <span id="menu_icon" class="fa-solid fa-right-to-bracket"></span>
                  Ingresar
                </button>
                <button onclick="window.location.href='/users/register';" class="btn">
                  <span id="menu_icon" class="fa-solid fa-user-plus"></span>
                  Registrarse
                </button>
                <% } %>
      </div>
    </div>
    <script>
      const button = document.getElementById("button");
      const buttonRect = button.getBoundingClientRect();
      const chevron = document.getElementById("chevron");
      const chevronRect = chevron.getBoundingClientRect();
      const menuRight = buttonRect.right - chevronRect.right;
      const menutop = chevronRect.top - buttonRect.top;

      const menu = document.getElementById("menu");
      menu.style.top = `${menutop}px`;
      menu.style.right = `${menuRight}px`;

      const toggleDropdown = () => {
        const dropdown = document.getElementById("dropdown");
        if (dropdown.classList.contains("open")) {
          menu.style.top = `${menutop}px`;
          menu.style.right = `${menuRight}px`;
        } else {
          menu.style.top = `${button.clientHeight + 10}px`;
          menu.style.right = 0;
        }

        dropdown.classList.toggle("open")
      };
    </script>

 
 </div>
  <nav class="home__header__barra--nav">
    <ul class="header--barra">
      
      <li class="magicList"><a href="/products/list">Todo</a></li>
      <li ><a href="/products/list/Monitor">Monitores</a></li>
      <li ><a href="/products/list/Mouse">Mouses</a></li>
      <li ><a href="/products/list/Teclado">Teclados</a></li>
      <li ><a href="/products/list/Auricular">Auriculares</a></li>
      <li class="magicList"><a href="/products/list/discount">Ofertas</a></li>
    </ul>
    
  </nav>


  <script>
    const links = document.querySelectorAll(".header--barra a");
    const urlActual = window.location.href;

    links.forEach(link => {
      if (link.href === urlActual) {
        link.classList.add("activo");
      }
    });
    document.addEventListener("DOMContentLoaded", function () {
      const links = document.querySelectorAll(".header--barra a");
      const urlActual = window.location.href;

      links.forEach(link => {
        if (link.href === urlActual) {
          link.classList.add("activo");
        }
      });
    });

    /* ================================== */


  </script>

</header>