<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous" id="btn-prev">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <div class="d-flex" id="container-items-page"></div>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next" id="btn-next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>