<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %>

<body>
    
    <main class="login__main">
        <form class="login__main__form"></form>
            <div class="login__main__div">
                <h2 class="login__main__div__titulo">Bienvenid@ a</h2>

                <a class="login__main__div__logo" href="/"><img src="/images/logo.svg" alt="Logo" /></a>

                <a class="login__main__div__logo--tablet" href="/"><img src="/images/logo.svg" alt="Logo" /><img src="/Images/LOGO-TECHMASTER.svg" alt="Logo" /></a>

                <div class="login__main__div__logo--textinfo">
                    <h3>TechMaster te brindará el mejor servicio de compra y venta de productos tecnologicos y afines.</h3>
                </div>
                

                <div class="login__main__div--links">
                    <a href="">
                    <i class="fa-brands fa-facebook"></i>
                  Continuar con Facebook
                    </a>
                </div>

                <div class="login__main__div--links">
                    <a href="">
                    <i class="fa-brands fa-google"></i>
                  Continuar con Google
                    </a>
                </div>
            </div>

            

            <section class="login__main__form--logueo">

                <div class="login__main__form--text">
                    <h2>Ingresar</h2>
                </div>

                <div class="login__main__form--boxes">
                    <input type="email" placeholder="Email" name="email" id="email" autocomplete="off">
                </div>
    
                <div class="login__main__form--boxes">
                    <input type="password" placeholder="Contraseña" name="password" id="password" autocomplete="off">
                </div>
    
                <div class="login__main__form--buttons">
                    <button class="login__button" type="submit"> <a href="/login.html">Ingresar</a> </button>
                    <button class="login__button2" type="submit"> <a href="/users/register">Crea tu cuenta</a> </button>
                </div>

                <a class="login__main__form--forget" href="">Olvidé mi contraseña</a>
            </section>
            
        </form>
        
    </main>

    <%- include('../partials/scripts')  %>
</body>

</html>