<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head',{title : 'Ingreso'}) %>
<body class="newpassword__body">
    <%- include('../partials/header') %>
  <main class="newpassword__main">
    <h4>Nueva clave</h4>
    
        

        <form action="" class="form__container--newpassword">
            <div class="newpassword__main__form--boxes">
                <input type="password" placeholder="Clave actual" name="password" id="password" autocomplete="off">
            </div>
    
            <div class="newpassword__main__form--boxes">
                <input type="password" placeholder="Nueva clave" name="password" id="password" autocomplete="off">
            </div>

            <div class="newpassword__main__form--boxes">
                <input type="password" placeholder="Confirmar nueva clave" name="password" id="password" autocomplete="off">
            </div>
            
    
            <div class="newpassword__main__form--buttons">
                <button class="newpassword__button" type="submit">Cambiar clave</button>
                
            </div>
        </form>

        

        
    
    
</form>
  </main>
  
  <%- include('../partials/scripts')  %>
</body>
</html>