<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %> 

      <main class="detalle__main">

        <section class="detalle__section">
        <h3 class="detalle__title">MOUSE LOGITECH G502 WIRELESS GAMING LIGHTSPEED</h3>

        
        

        
        <div id="carouselExample" class="carousel slide detalle__carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url(/Images/MouseLightspeedG502-1.png);">
            </div>
            <div class="carousel-item" style="background-image: url(/Images/MouseLightspeedG502-2.png);">
            </div>
            <div class="carousel-item" style="background-image: url(/Images/MouseLightspeedG502-3-.png);">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      
        
          


      
        

        <div class="detalle__info">
            <div>
            <span class="detalle__price">$ 15.000</span>
            </div>
            <span class="detalle__cuotas">en 6x $3.000</span>
        
        <div>
            <p><i class="fa-sharp fa-solid fa-truck-fast"></i> Llega gratis hoy</p>
          </div>
        </div>
            <div class="box__button-comprar">
               <a href="/carrito"> <button type="submit">Comprar ahora</button> </a>
            </div>
            <div class="box__button-agregar">
              <a href="/carrito"> <button type="submit">Agregar al carrito</button> </a>
            </div>
         
      
  
      </section>

      <section class="detalle__section-description">
        <hr>
        <span>lo que tenés que saber de este producto</span>
        <ul>
          <li>Utiliza cable.</li>
          <li>Posee rueda de desplazamiento.</li>
          <li>Con luces para mejorar la experiencia de uso.</li>
          <li>Con sensor óptico.</li>
          <li>Resolución de 25600dpi.</li>
          <li>Creado para llevar a todas partes.</li>
          <li>Control inteligente y navegación fácil.</li>
        </ul>
        <hr>
      </section>

<section class="detalle__main-productos">
  <div class="detalle__title-relacionados">
  <h4>productos relacionados</h4>
</div>
    <div class="glider-contain">
      <div class="glider">
        
        <div id="detalle-items" class="card" >
          <img src="/Images/teclado1.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <h5 class="card-title">$7.000</h5>
            <p class="card-text">Teclado Genius k-1620 de Alta Performance</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div  id="detalle-items" class="card" >
          <img src="/Images/teclado1.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <h5 class="card-title">$7.000</h5>
            <p class="card-text">Teclado Genius k-1620 de Alta Performance</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div  id="detalle-items" class="card" >
          <img src="/Images/teclado1.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <h5 class="card-title">$7.000</h5>
            <p class="card-text">Teclado Genius k-1620 de Alta Performance</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div id="detalle-items" class="card" >
          <img src="/Images/teclado1.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <h5 class="card-title">$7.000</h5>
            <p class="card-text">Teclado Genius k-1620 de Alta Performance</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div id="detalle-items" class="card" >
          <img src="/Images/teclado1.png" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <h5 class="card-title">$7.000</h5>
            <p class="card-text">Teclado Genius k-1620 de Alta Performance</p>
            <a href="/carrito" class="btn btn-primary">Comprar</a>
          </div>
        </div>

      </div>
      <button aria-label="Previous" class="glider-prev">«</button>
  <!-- <button aria-label="Next" class="glider-next">»</button> -->
  <div role="tablist" class="dots"></div>
</div>
    </section>
      </main>

      <%- include('../partials/footer')  %> 
      
      <%- include('../partials/scripts')  %>

      <script>
        new Glider(document.querySelector('.glider'), {
  slidesToShow: 1.5,
  slidesToScroll: 1,
  draggable: true,
  dots: '.dots',
  arrows: {
    prev: '.glider-prev',
    next: '.glider-next'
  },
  responsive: [
    {
      // screens greater than >= 775px
      breakpoint: 768,
      settings: {
        // Set to `auto` and provide item width to adjust to viewport
        slidesToShow: 3,
        slidesToScroll: 'auto',
        itemWidth: 150,
        duration: 0.25
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 1024,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 1,
        itemWidth: 150,
        duration: 0.25
      }
    }
  ]
});
      </script>

    </body>
  </html>