<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
<%- include('../partials/head') %>
<body class="boby__view__resultados">
  
  

  
  <%- include('../partials/header') %> 


  <main class="mainResultados">
    <h1>Todos los Productos</h1>
    <section>

      <article class="articleResultados">
        <img src="/Images/monitor2.png"></img>
        <div>
            <h3>Monitor Hitachi 22'</h3>
          <div class="precioYOferta">
            <h4>15% OFF</h4>
            <h2>$1000</h2>
          </div>
          <div>
            <a href="/products/detalle"><button>Detalles</button></a>
            <a href="/carrito"><button>Adquirir</button></a>
          </div>
        </div>
      </article>

      <article class="articleResultados">
        <img src="/Images/mouse1.png"></img>
        <div>
          <h3>Mouse Pampa usb</h3>
          <div class="precioYOferta">
            <h4>20% OFF</h4>
            <h2>$3000</h2>
          </div>
          <div>
            <a href="/products/detalle"><button>Detalles</button></a>
            <a href="/products/carrito"><button>Adquirir</button></a>
          </div>
        </div>
      </article>
    

  <%- include('../partials/footer')  %> 
</body>

</html>