<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/Stylesheets/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TechMaster Resultados</title>
</head>


<body class="boby__view__carrito">
  
  
  <%- include('../partials/header') %> 

  <main class="mainCarrito">
    <h1>Resultados de Busqueda</h1>
    <section>
      
      <article class="articleCarrito">
        <img src="/Images/auriculares2.png"></img>
        <div>
          <h1>Auriculares Hitachi 3.5</h1>
          <h2>$100</h2>
          <h3>50% OFF</h3>
          <div>
            <button><a href="/products/detalle">ver detalles</a></button>
            <button><a href="/carrito">agregar al carrito</a></button>
            
          </div>
        </div>
      </article>
      
      
      <article class="articleCarrito">
        <img src="/Images/teclado1.png"></img>
        <div>
          <h1>Teclado Pampa usb</h1>
          <h2>$650</h2>
          <h3></h3>
          <div>
            <button><a href="/products/detalle">ver detalles</a> </button>
            <button><a href="/carrito">agregar al carrito</a></button>
            
          </div>
        </div>
      </article>

      <article class="articleCarrito">
        <img src="/Images/monitor2.png"></img>
        <div>
          <h1>Monitor Hitachi 22'</h1>
          <h2>$1000</h2>
          <h3>15% OFF</h3>
          <div>
            <button><a href="/products/detalle">ver detalles</a></button>
            <button><a href="/carrito">agregar al carrito</a></button>
            
          </div>
        </div>
      </article>

    </section>
  </main>

  <%- include('../partials/footer')  %> 
</body>

</html>