<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/Stylesheets/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TechMaster Resultados</title>
</head>
<body class="boby__view__resultados">
  
  

  
  <%- include('../partials/header') %> 


  <main class="mainResultados">
    <h1>Resultados de busqueda</h1>
    <section>

      <article class="articleResultados">
        <img src="/Images/monitor2.png"></img>
        <div>
          <h3>Monitor Hitachi 22'</h3>
          <h2>$1000</h2>
          <h4>15% OFF</h4>
          <div>
            <a href="/products/detalle"><button>Detalles</button></a>
            <a href="/products/detalle"><button>Adquirir</button></a>
          </div>
        </div>
      </article>


      
    </section>
  </main>

  <%- include('../partials/footer')  %> 
</body>

</html>